interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://jsoc.stanford.edu/cgi-bin/ajax/jsoc_info?op=series_struct&ds=aia.lev1_euv_12s
  response:
    body:
      string: "{\n\t\"note\": \"AIA Level 1, 12 second cadence\",\n\t\"retention\":
        0,\n\t\"stagingretention\": 3,\n\t\"unitsize\": 1,\n\t\"archive\": 0,\n\t\"tapegroup\":
        0,\n\t\"primekeys\": [\"T_REC\",\n\t\"WAVELNTH\"],\n\t\"primekeysinfo\": [{\n\t\t\"name\":
        \"T_REC\",\n\t\t\"slotted\": 1,\n\t\t\"step\": \"12.000000\"\n\t},\n\t{\n\t\t\"name\":
        \"WAVELNTH\",\n\t\t\"slotted\": 0\n\t}],\n\t\"dbindex\": [\"T_REC\",\n\t\"WAVELNTH\"],\n\t\"keywords\":
        [{\n\t\t\"name\": \"T_REC\",\n\t\t\"type\": \"time\",\n\t\t\"recscope\": \"ts_eq\",\n\t\t\"defval\":
        \"-4712.01.01_11:59:28Z\",\n\t\t\"units\": \"ISO\",\n\t\t\"note\": \"Slotted
        observation time\"\n\t},\n\t{\n\t\t\"name\": \"T_OBS\",\n\t\t\"linkinfo\":
        \"lev1->T_OBS\",\n\t\t\"type\": \"time\",\n\t\t\"recscope\": \"variable\",\n\t\t\"defval\":
        \"-4712.01.01_11:59:27.82Z\",\n\t\t\"units\": \"ISO\",\n\t\t\"note\": \"Observation
        time\"\n\t},\n\t{\n\t\t\"name\": \"WAVELNTH\",\n\t\t\"type\": \"int\",\n\t\t\"recscope\":
        \"variable\",\n\t\t\"defval\": \"-2147483648\",\n\t\t\"units\": \"angstrom\",\n\t\t\"note\":
        \"Wavelength\"\n\t},\n\t{\n\t\t\"name\": \"DATE\",\n\t\t\"type\": \"time\",\n\t\t\"recscope\":
     [...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://jsoc.stanford.edu/cgi-bin/ajax/jsoc_info?op=rs_list&ds=aia.lev1_euv_12s%5B2010.07.30_13%3A30%3A34_TAI-2010.07.30_14%3A00%3A34_TAI%5D%5B193%5D&key=T_REC%2CTELESCOP%2CINSTRUME%2CWAVELNTH%2CCAR_ROT
  response:
    body:
      string: '{"keywords":[{"name":"T_REC","values":["2010-07-30T13:30:02Z","2010-07-30T13:30:14Z","2010-07-30T13:30:26Z","2010-07-30T13:30:38Z","2010-07-30T13:30:50Z","2010-07-30T13:31:02Z","2010-07-30T13:31:14Z","2010-07-30T13:31:26Z","2010-07-30T13:31:38Z","2010-07-30T13:31:50Z","2010-07-30T13:32:02Z","2010-07-30T13:32:14Z","2010-07-30T13:32:26Z","2010-07-30T13:32:38Z","2010-07-30T13:32:50Z","2010-07-30T13:33:02Z","2010-07-30T13:33:14Z","2010-07-30T13:33:26Z","2010-07-30T13:33:38Z","2010-07-30T13:33:50Z","2010-07-30T13:34:02Z","2010-07-30T13:3[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://jsoc.stanford.edu/cgi-bin/ajax/checkAddress.sh?address=jsoc%2540cadair.com&checkonly=1
  response:
    body:
      string: '{"status": 2, "msg": "Email address is valid and registered."}

'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://jsoc.stanford.edu/cgi-bin/ajax/jsoc_fetch?op=exp_request&format=json&ds=aia.lev1_euv_12s%5B2010.07.30_13%3A30%3A34_TAI-2010.07.30_14%3A00%3A34_TAI%5D%5B193%5D&notify=jsoc%40cadair.com&method=url&protocol=fits&filenamefmt=aia.lev1_euv_12s.%7BT_REC%3AA%7D.%7BWAVELNTH%7D.%7Bsegment%7D&requestor=jsoc
  response:
    body:
      string: '{"status":2,"requestid":"JSOC_20200410_166","method":"url","protocol":"fits","wait":0,"rcount":151,"size":1746}

'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://jsoc.stanford.edu/cgi-bin/ajax/jsoc_fetch?op=exp_status&requestid=JSOC_20200410_166
  response:
    body:
      string: "{\n\t\"version\": \"0.5\",\n\t\"requestid\": \"JSOC_20200410_166\",\n\t\"method\":
        \"url\",\n\t\"protocol\": \"fits\",\n\t\"count\": \"302\",\n\t\"size\": \"1746\",\n\t\"exptime\":
        \"2020.04.10_11:39:56_UT\",\n\t\"dir\": \"\\/SUM14\\/D1278273598\\/S00000\",\n\t\"status\":
        \"0\",\n\t\"keywords\": \"**IN FITS FILES**\",\n\t\"data\": [{\n\t\t\"record\":
        \"aia.lev1_euv_12s[2010-07-30T13:30:02Z][193]\",\n\t\t\"filename\": \"aia.lev1_euv_12s.2010-07-30T133009Z.193.image_lev1.fits\"\n\t},\n\t{\n\t\t\"record\":
        \"aia.lev1_euv_12s[2010-07-30T13:30:02Z][193]\",\n\t\t\"filename\": \"aia.lev1_euv_12s.2010-07-30T133009Z.193.spikes.fits\"\n\t},\n\t{\n\t\t\"record\":
        \"aia.lev1_euv_12s[2010-07-30T13:30:14Z][193]\",\n\t\t\"filename\": \"aia.lev1_euv_12s.2010-07-30T133021Z.193.image_lev1.fits\"\n\t},\n\t{\n\t\t\"record\":
        \"aia.lev1_euv_12s[2010-07-30T13:30:14Z][193]\",\n\t\t\"filename\": \"aia.lev1_[...]
[...]
