interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://jsoc.stanford.edu/cgi-bin/ajax/jsoc_info?op=series_struct&ds=hmi.sharp_cea_720s
  response:
    body:
      string: "{\n\t\"note\": \"Spaceweather HMI Active Region Patch (SHARP): CEA
        coordinates\",\n\t\"retention\": 10000,\n\t\"stagingretention\": 3,\n\t\"unitsize\":
        4,\n\t\"archive\": 1,\n\t\"tapegroup\": 20,\n\t\"primekeys\": [\"HARPNUM\",\n\t\"T_REC\"],\n\t\"primekeysinfo\":
        [{\n\t\t\"name\": \"HARPNUM\",\n\t\t\"slotted\": 0\n\t},\n\t{\n\t\t\"name\":
        \"T_REC\",\n\t\t\"slotted\": 1,\n\t\t\"step\": \"720.0\"\n\t}],\n\t\"dbindex\":
        [\"HARPNUM\",\n\t\"T_REC\"],\n\t\"keywords\": [{\n\t\t\"name\": \"cparms_sg000\",\n\t\t\"type\":
        \"string\",\n\t\t\"recscope\": \"variable\",\n\t\t\"defval\": \"compress Rice\",\n\t\t\"units\":
        \"none\",\n\t\t\"note\": \"\"\n\t},\n\t{\n\t\t\"name\": \"magnetogram_bzero\",\n\t\t\"type\":
        \"double\",\n\t\t\"recscope\": \"variable\",\n\t\t\"defval\": \"0\",\n\t\t\"units\":
        \"none\",\n\t\t\"note\": \"\"\n\t},\n\t{\n\t\t\"name\": \"magnetogram_bscale\",\n\t\t\"type\":
        \"double\",\n\t\t\"recscope\": \"variable\",\n\t\t\"defval\": \"0.1\",\n\t\t\"units\":
        \"none\",\n\t\t\"note\": \"\"\n\t},\n\t{\n\t\t\"name\": \"cparms_sg001\",\n\t\t\"type\":
        \[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://jsoc.stanford.edu/cgi-bin/ajax/jsoc_info?op=rs_list&ds=hmi.sharp_cea_720s%5B3604%5D%7BBp%2Cmagnetogram%7D&key=T_REC%2CTELESCOP%2CINSTRUME%2CWAVELNTH%2CCAR_ROT
  response:
    body:
      string: '{"keywords":[{"name":"T_REC","values":["2014.01.08_03:12:00_TAI","2014.01.08_03:24:00_TAI","2014.01.08_03:36:00_TAI","2014.01.08_03:48:00_TAI","2014.01.08_04:00:00_TAI","2014.01.08_04:12:00_TAI","2014.01.08_04:24:00_TAI","2014.01.08_04:36:00_TAI","2014.01.08_04:48:00_TAI","2014.01.08_05:00:00_TAI","2014.01.08_05:12:00_TAI","2014.01.08_05:24:00_TAI","2014.01.08_05:36:00_TAI","2014.01.08_05:48:00_TAI","2014.01.08_06:00:00_TAI","2014.01.08_06:12:00_TAI","2014.01.08_06:24:00_TAI","2014.01.08_06:36:00_TAI","2014.01.08_06:48:00_TAI","2014[...]
[...]
