interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://jsoc.stanford.edu/cgi-bin/ajax/jsoc_info?op=series_struct&ds=aia.lev1_euv_12s
  response:
    body:
      string: "{\n\t\"note\": \"AIA Level 1, 12 second cadence\",\n\t\"retention\":
        0,\n\t\"stagingretention\": 3,\n\t\"unitsize\": 1,\n\t\"archive\": 0,\n\t\"tapegroup\":
        0,\n\t\"primekeys\": [\"T_REC\",\n\t\"WAVELNTH\"],\n\t\"primekeysinfo\": [{\n\t\t\"name\":
        \"T_REC\",\n\t\t\"slotted\": 1,\n\t\t\"step\": \"12.000000\"\n\t},\n\t{\n\t\t\"name\":
        \"WAVELNTH\",\n\t\t\"slotted\": 0\n\t}],\n\t\"dbindex\": [\"T_REC\",\n\t\"WAVELNTH\"],\n\t\"keywords\":
        [{\n\t\t\"name\": \"T_REC\",\n\t\t\"type\": \"time\",\n\t\t\"recscope\": \"ts_eq\",\n\t\t\"defval\":
        \"-4712.01.01_11:59:28Z\",\n\t\t\"units\": \"ISO\",\n\t\t\"note\": \"Slotted
        observation time\"\n\t},\n\t{\n\t\t\"name\": \"T_OBS\",\n\t\t\"linkinfo\":
        \"lev1->T_OBS\",\n\t\t\"type\": \"time\",\n\t\t\"recscope\": \"variable\",\n\t\t\"defval\":
        \"-4712.01.01_11:59:27.82Z\",\n\t\t\"units\": \"ISO\",\n\t\t\"note\": \"Observation
        time\"\n\t},\n\t{\n\t\t\"name\": \"WAVELNTH\",\n\t\t\"type\": \"int\",\n\t\t\"recscope\":
        \"variable\",\n\t\t\"defval\": \"-2147483648\",\n\t\t\"units\": \"angstrom\",\n\t\t\"note\":
        \"Wavelength\"\n\t},\n\t{\n\t\t\"name\": \"DATE\",\n\t\t\"type\": \"time\",\n\t\t\"recscope\":
     [...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://jsoc.stanford.edu/cgi-bin/ajax/jsoc_info?op=rs_list&ds=aia.lev1_euv_12s%5B2014.01.01_00%3A00%3A35_TAI-2014.01.01_00%3A02%3A35_TAI%5D%5B304%5D&key=%2A%2AALL%2A%2A&R=1
  response:
    body:
      string: '{"recinfo":[{"name":"aia.lev1_euv_12s[2014-01-01T00:00:01Z][304]","online":0},{"name":"aia.lev1_euv_12s[2014-01-01T00:00:13Z][304]","online":0},{"name":"aia.lev1_euv_12s[2014-01-01T00:00:25Z][304]","online":0},{"name":"aia.lev1_euv_12s[2014-01-01T00:00:37Z][304]","online":0},{"name":"aia.lev1_euv_12s[2014-01-01T00:00:49Z][304]","online":0},{"name":"aia.lev1_euv_12s[2014-01-01T00:01:01Z][304]","online":0},{"name":"aia.lev1_euv_12s[2014-01-01T00:01:13Z][304]","online":0},{"name":"aia.lev1_euv_12s[2014-01-01T00:01:25Z][304]","online":0},{"name":"aia.lev1_euv_12s[2014-01-01T00:01:37Z][304]","online":0},{"name":"aia.lev1_euv_12s[2014-01-01T00:01:49Z][304]","online":0},{"name":"aia.lev1_euv_12s[2014-01-01T00:02:01Z][304]","online":0}],"keywords":[{"name":"T_REC","values":["2014-01-01T00:00:01Z","2014-01-01T00:00:13Z","2014-01-01T00:00:25Z","2014-01-01T00:00:37Z","2014-01-01T00:00:49Z","2014-01-01T00:01:01Z","2014-01-01T00:01:13Z","2014-01-01T00:01:25Z","2014-01-01T00:01:37Z","2014-01-01T00:01:49Z","2014-01-01T00:02:01Z"]},{"name":"T_OBS","values":["2014-01-01T00:00:08.57Z","2014-01-01T00:00:20.58Z","2014-01-01T00:00:32.57Z","2014-01-01T00:00:44.58Z","2014-01-01T00:00:56.57Z","2014-01-01T00:01:08.59Z","2014-01-01T00:01:20.59Z","2014-01-01T00:01:32.57Z","2014-01-0[...]
[...]
