interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.lmsal.com/hek/her?cosec=2&cmd=search&type=column&event_type=FL&x1=-5000&y1=-5000&x2=5000&y2=5000&event_coordsys=helioprojective&event_starttime=2011-08-09T07%3A23%3A56&event_endtime=2011-08-09T12%3A40%3A29&param0=FL_PeakFlux&value0=1000&op0=%3E&page=1
  response:
    body:
      string: "\n       {\n\"result\":[\n{\n\"gs_thumburl\":\"http://sdowww.lmsal.com/sdomedia/ssw/ssw_client/data/ssw_service_110809_030038_16962/www/ssw_cutout_211_context_thumb.gif\",\"comment_count\":\"0\",\"hpc_bbox\":\"POLYGON((768
        0,921.6 0,921.6 537.6,768 537.6,768 0))\",\"frm_humanflag\":\"false\",\"hgc_coord\":\"POINT(-55.120106
        17.859233)\",\"event_coordsys\":\"UTC-HPC-TOPO\",\"obs_levelnum\":null,\"hpc_coord\":\"POINT(883.2
        268.8)\",\"event_npixels\":null,\"gs_imageurl\":\"http://sdowww.lmsal.com/sdomedia/ssw/ssw_client/data/ssw_service_110809_030038_16962/www/ssw_cutout_211_context_full.gif\",\"ar_polarity\":null,\"frm_paramset\":\"DerivativeThreshold=
        8.30000e-01 EndFraction= 2.50000e-01\",\"hrc_coord\":\"POINT(0.975389965093471
        286.927513064147)\",\"event_starttime\":\"2011-08-09T07:22:38\",\"ar_mtwilsoncls\":\"\",\"event_type\":\"FL\",\"intensmin\":null,\"fl_fluence\":null,\"obs_meanwavel\":2.11000000000000013e-06,\"frm_url\":\"http://www.cfa.harvard.edu\",\"skel_chaincode\":\"\",\"bound_chaincode\":\"\",\"noposition\":\"false\",\"fl_fluenceunit\":\"\",\"active\":\"true\",\"intensmax\":null,\"frm_versionnumber\":0.510000000000000009,\"fl_peaktempunit\":\"\",\"fl_halphaclass\":\"\",\"area_uncert\":null,\"obs_dataprepurl\":\"\",\"hpc_geom\":\"0103000000010000000500000000000000000088400000000000000000CDCCCCCCCCCC8C400000000000000000CDCCCCCCCCCC8C40CDCCCCCCCCCC80400000000000008840CDCCCCCCCCCC804000000000000088400000000000000000\",\"hgc_bbox\":\"POLYGON((-79.272961
        3.698481,-56.808186 1.461054,-46.821891 30.087467,-49.037247 35.437909,-79.272961
        3.698481))\",\"intensmedian\":null,\"chaincodetype\":\"\",\"obs_channelid\":\"211\",\"event_clippedspatial\":\"\",\"ar_noaaclass\":\"\",\"SOL_standard\":\"SOL2011-08-09T07:22:38L305C073\",\"event_avg_rating\":null,\"eventtype\":\"9\",\"intensunit\":\"\",\"hpc_boundcc\":\"\",\"event_mapurl\":\"\",\"frm_contact\":\"Paolo
        C. Grigis - pgrigis@cfa.harvard.edu\",\"ar_penumbracls\":\"\",\"intensmean\":null,\"bound_ccstartc1\":null,\"frm_name\":\"Flare
        Detective - Trigger Module\",\"area_atdiskcenter\":null,\"frm_identifier\":\"Feature
        Finding Team\",\"obs_observatory\":\"SDO\",\"event_description\":\"\",\"boundbox_c2ur\":537.600000000000023,\"obs_firstprocessingdate\":\"\",\"boundbox_c2ll\":0,\"frm_institute\":\"SAO\",\"hrc_bbox\":\"POLYGON((0.811417
        270,0.973701 270,1.127257 300.256437,0.990461 304.99202,0.811417 270))\",\"refs_orig\":\"\",\"ar_mcintoshcls\":\"\",\"event_maskurl\":\"\",\"bound_ccstartc2\":null,\"gs_movieurl\":\"http://sdowww.lmsal.com/sdomedia/h264/2011/08/09/EDS_FlareDetective-TriggerModule_20110809T061314-20110809T094126_AIA_211_XCEN883.2YCEN268.8.mov\",\"event_score\":\"0.304043883215036115\",\"skel_startc2\":null,\"skel_startc1\":null,\"fl_efoldtime\":null,\"event_expires\":\"\",\"fl_efoldtimeunit\":\"\",\"hrc_boundcc\":\"\",\"event_probability\":null,\"intensvar\":null,\"frm_daterun\":\"2011-08-09T00:42:15\",\"event_coordunit\":\"arcseconds\",\"hpc_y\":268.8,\"hpc_x\":883.2,\"search_instrument\":\"AIA\",\"ar_numspots\":null,\"kb_archivdate\":\"2011-08-09T08:50:15\",\"kb_archivist\":\"flare_detective\",\"intenstotal\":null,\"sum_overlap_scores\":\"0.283032539594587795\",\"hgs_boundcc\":\"\",\"intensskew\":null,\"obs_includesnrt\":\"\",\"rasterscan\":\"\",\"obs_wavelunit\":\"cm\",\"kb_archivid\":\"ivo://helio-informatics.org/FL_FlareDetective-TriggerModule_20110809_074225_2011-08-09T07:22:38.070_1\",\"search_frm_name\":\"Flare
        Detective - Trigger Module\",\"boundbox_c1ur\":921.600000000000023,\"ar_noaanum\":null,\"area_atdiskcenteruncert\":null,\"boundbox_c1ll\":768,\"event_importance_num_ratings\":\"\",\"ar_compactnesscls\":\"\",\"skel_curvature\":null,\"event_testflag\":\"false\",\"event_c2error\":2,\"hrc_r\":0.975389965093471,\"skel_nsteps\":null,\"hgs_y\":17.859233,\"obs_title\":\"\",\"fl_peakemunit\":\"\",\"hgs_x\":78.338474,\"hcr_checked\":\"true\",\"frm_specificid\":\"\",\"event_title\":\"\",\"obs_instrument\":\"AIA\",\"event_c1error\":2,\"revision\":\"2\",\"hpc_radius\":\"923.198613517156559\",\"event_endtime\":\"2011-08-09T08:32:02\",\"event_importance\":null,\"event_coord2\":268.800000000000011,\"event_coord3\":null,\"event_coord1\":883.200000000000045,\"search_observatory\":\"SDO\",\"area_raw\":null,\"concept\":\"Flare\",\"event_pixelunit\":\"\",\"hgc_boundcc\":\"\",\"fl_peakflux\":2326.86000000000013,\"hgc_x\":-55.120106,\"hrc_a\":286.927513064147,\"event_peaktime\":\"2011-08-09T08:07:38\",\"hgc_y\":17.859233,\"gs_galleryid\":\"\",\"fl_goescls\":\"\",\"hgs_coord\":\"POINT(78.338474
        17.859233)\",\"ar_zurichcls\":\"\",\"bound_ccnsteps\":null,\"intenskurt\":null,\"event_clippedtemporal\":\"\",\"fl_peakfluxunit\":\"erg/cm/cm/s\",\"fl_peakem\":null,\"rasterscantype\":\"\",\"search_channelid\":\"211\",\"fl_peaktemp\":null,\"hgs_bbox\":\"POLYGON((54.185619
        3.698481,76.650394 1.461054,86.636689 30.087467,84.421333 35.437909,54.185619
        3.698481))\",\"area_unit\":\"\",\"obs_lastprocessingdate\":\"\",\"refs\":[\n{\n\"ref_name\":
        \"FRM_URL\",\n\"ref_type\": \"unknown\",\n\"ref_url\": \"http://www.cfa.harvard.edu\"\n},{\n\"ref_name\":
        \"SDO Movie\",\n\"ref_type\": \"movie\",\n\"ref_url\": \"http://sdowww.lmsal.com/sdomedia/h264/2011/08/09/EDS_FlareDetective-TriggerModule_20110809T061314-20110809T094126_AIA_211_XCEN883.2YCEN268.8.mov\"\n},{\n\"ref_name\":
        \"SSW Context Image\",\n\"ref_type\": \"image\",\n\"ref_url\": \"http://sdowww.lmsal.com/sdomedia/ssw/ssw_client/data/ssw_service_110809_030038_16962/www/ssw_cutout_211_context_full.gif\"\n},{\n\"ref_name\":
[...]
