interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://jsoc.stanford.edu/cgi-bin/ajax/jsoc_info?op=series_struct&ds=hmi.m_45s
  response:
    body:
      string: "{\n\t\"note\": \"magnetograms with a cadence of 45 seconds.\",\n\t\"retention\":
        10000,\n\t\"stagingretention\": 3,\n\t\"unitsize\": 32,\n\t\"archive\": 1,\n\t\"tapegroup\":
        6,\n\t\"primekeys\": [\"T_REC\",\n\t\"CAMERA\"],\n\t\"primekeysinfo\": [{\n\t\t\"name\":
        \"T_REC\",\n\t\t\"slotted\": 1,\n\t\t\"step\": \"45.0\"\n\t},\n\t{\n\t\t\"name\":
        \"CAMERA\",\n\t\t\"slotted\": 0\n\t}],\n\t\"dbindex\": [\"T_REC\",\n\t\"CAMERA\"],\n\t\"keywords\":
        [{\n\t\t\"name\": \"cparms_sg000\",\n\t\t\"type\": \"string\",\n\t\t\"recscope\":
        \"variable\",\n\t\t\"defval\": \"compress Rice\",\n\t\t\"units\": \"none\",\n\t\t\"note\":
        \"\"\n\t},\n\t{\n\t\t\"name\": \"magnetogram_bzero\",\n\t\t\"type\": \"double\",\n\t\t\"recscope\":
        \"variable\",\n\t\t\"defval\": \"0\",\n\t\t\"units\": \"none\",\n\t\t\"note\":
        \"\"\n\t},\n\t{\n\t\t\"name\": \"magnetogram_bscale\",\n\t\t\"type\": \"double\",\n\t\t\"recscope\":
        \"variable\",\n\t\t\"defval\": \"0.1\",\n\t\t\"units\": \"none\",\n\t\t\"note\":
        \"\"\n\t},\n\t{\n\t\t\"name\": \"DATE\",\n\t\t\"type\": \"time\",\n\t\t\"[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://jsoc.stanford.edu/cgi-bin/ajax/jsoc_info?op=rs_list&ds=hmi.M_45s%5B2020.01.01_00%3A00%3A37_TAI-2020.01.01_00%3A02%3A07_TAI%4090.0s%5D&key=%2A%2AALL%2A%2A
  response:
    body:
      string: '{"keywords":[{"name":"DATE","values":["2020-01-05T15:33:58Z","2020-01-05T15:35:51Z"]},{"name":"DATE__OBS","values":["2019-12-31T23:59:37.10Z","2020-01-01T00:01:07.10Z"]},{"name":"DATE-OBS","values":["2019-12-31T23:59:37.10Z","2020-01-01T00:01:07.10Z"]},{"name":"TELESCOP","values":["SDO\/HMI","SDO\/HMI"]},{"name":"INSTRUME","values":["HMI_FRONT2","HMI_FRONT2"]},{"name":"WAVELNTH","values":["6173.0","6173.0"]},{"name":"CAMERA","values":["2","2"]},{"name":"BUNIT","values":["Gauss","Gauss"]},{"name":"ORIGIN","values":["SDO\/JSOC-SDP","SDO\/JSOC-SDP"]},{"name":"CONTENT","values":["MAGNETOGRAM","MAGNETOGRAM"]},{"name":"QUALITY","values":["0x00000000","0x00000000"]},{"name":"QUALLEV1","values":["0x00000000","0x00000000"]},{"name":"HISTORY","values":["Polynomial
        Coefficients used for Doppler velocity correction: 1.733637e+02 5.376400e-03
        -9.315956e-06 -7.891716e-10 ","Polynomial Coefficients used for Doppler velocity
        correction: 1.733641e+02 5.376122e-03 -9.315873e-06 -7.891864e-10 "]},{"name":"COMMENT","values":["De-rotation:
        ON; Un-distortion: ON; Re-centering: ON; Re-sizing: OFF; correction for cosmic-ray
        hits; correction front\/side intensity implemented for mod L; RSUNerr=5.0
        pixels; dpath=\/home\/jsoc\/cvs\/Development\/JSOC\/proj\/lev1.5_hmi\/apps\/;
        linearity=1 with coefficients updated on 2014\/01\/15; smooth=1; propagate
        eclipse bit from level 1; use of larger crop radi[...]
