interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://jsoc.stanford.edu/cgi-bin/ajax/jsoc_info?op=series_struct&ds=aia.lev1_euv_12s
  response:
    body:
      string: "{\n\t\"note\": \"AIA Level 1, 12 second cadence\",\n\t\"retention\":
        0,\n\t\"stagingretention\": 3,\n\t\"unitsize\": 1,\n\t\"archive\": 0,\n\t\"tapegroup\":
        0,\n\t\"primekeys\": [\"T_REC\",\n\t\"WAVELNTH\"],\n\t\"primekeysinfo\": [{\n\t\t\"name\":
        \"T_REC\",\n\t\t\"slotted\": 1,\n\t\t\"step\": \"12.000000\"\n\t},\n\t{\n\t\t\"name\":
        \"WAVELNTH\",\n\t\t\"slotted\": 0\n\t}],\n\t\"dbindex\": [\"T_REC\",\n\t\"WAVELNTH\"],\n\t\"keywords\":
        [{\n\t\t\"name\": \"T_REC\",\n\t\t\"type\": \"time\",\n\t\t\"recscope\": \"ts_eq\",\n\t\t\"defval\":
        \"-4712.01.01_11:59:28Z\",\n\t\t\"units\": \"ISO\",\n\t\t\"note\": \"Slotted
        observation time\"\n\t},\n\t{\n\t\t\"name\": \"T_OBS\",\n\t\t\"linkinfo\":
        \"lev1->T_OBS\",\n\t\t\"type\": \"time\",\n\t\t\"recscope\": \"variable\",\n\t\t\"defval\":
        \"-4712.01.01_11:59:27.82Z\",\n\t\t\"units\": \"ISO\",\n\t\t\"note\": \"Observation
        time\"\n\t},\n\t{\n\t\t\"name\": \"WAVELNTH\",\n\t\t\"type\": \"int\",\n\t\t\"recscope\":
        \"variable\",\n\t\t\"defval\": \"-2147483648\",\n\t\t\"units\": \"angstrom\",\n\t\t\"note\":
        \"Wavelength\"\n\t},\n\t{\n\t\t\"name\": \"DATE\",\n\t\t\"type\": \"time\",\n\t\t\"recscope\":
     [...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://jsoc.stanford.edu/cgi-bin/ajax/jsoc_info?op=series_struct&ds=hmi.m_45s
  response:
    body:
      string: "{\n\t\"note\": \"magnetograms with a cadence of 45 seconds.\",\n\t\"retention\":
        10000,\n\t\"stagingretention\": 3,\n\t\"unitsize\": 32,\n\t\"archive\": 1,\n\t\"tapegroup\":
        6,\n\t\"primekeys\": [\"T_REC\",\n\t\"CAMERA\"],\n\t\"primekeysinfo\": [{\n\t\t\"name\":
        \"T_REC\",\n\t\t\"slotted\": 1,\n\[...]
