interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://jsoc.stanford.edu/cgi-bin/ajax/jsoc_info?op=series_struct&ds=hmi.sharp_cea_720s
  response:
    body:
      string: "{\n\t\"note\": \"Spaceweather HMI Active Region Patch (SHARP): CEA
        coordinates\",\n\t\"retention\": 10000,\n\t\"stagingretention\": 3,\n\t\"unitsize\":
        4,\n\t\"archive\": 1,\n\t\"tapegroup\": 20,\n\t\"primekeys\": [\"HARPNUM\",\n\t\"T_REC\"],\n\t\"primekeysinfo\":
        [{\n\t\t\"name\": \"HARPNUM\",\n\t\t\"slotted\": 0\n\t},\n\t{\n\t\t\"name\":
        \"T_REC\",\n\t\t\"slotted\": 1,\n\t\t\"step\": \"720.0\"\n\t}],\n\t\"dbindex\":
        [\"HARPNUM\",\n\t\"T_REC\"],\n\t\"keywords\": [{\n\t\t\"name\": \"cparms_sg000\",\n\t\t\"type\":
        \"string\",\n\t\t\"recscope\": \"variable\",\n\t\t\"defval\": \"compress Rice\",\n\t\t\"units\":
        \"none\",\n\t\t\"note\": \"\"\n\t},\n\t{\n\t\t\"name\": \"magnetogram_bzero\",\n\t\t\"type\":
        \"double\",\n\t\t\"recscope\": \"variable\",\n\t\t\"defval\": \"0\",\n\t\t\"units\":
        \"none\",\n\t\t\"note\": \"\"\n\t},\n\t{\n\t\t\"name\": \"magnetogram_bscale\",\n\t\t\"type\":
        \"double\",\n\t\t\"recscope\": \"variable\",\n\t\t\"defval\": \"0.1\",\n\t\t\"units\":
        \"none\",\n\t\t\"note\": \"\"\n\t},\n\t{\n\t\t\"name\": \"cparms_sg001\",\n\t\t\"type\":
        \[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://jsoc.stanford.edu/cgi-bin/ajax/jsoc_info?op=rs_list&ds=hmi.sharp_cea_720s%5B3604%5D%7BBp%2Cmagnetogram%7D&key=%2A%2AALL%2A%2A
  response:
    body:
      string: '{"keywords":[{"name":"DATE","values":["2018-05-13T21:07:45Z","2018-05-13T21:08:02Z","2018-05-13T21:08:18Z","2018-05-13T21:08:35Z","2018-05-13T21:08:55Z","2018-05-13T21:09:12Z","2018-05-13T21:09:30Z","2018-05-13T21:09:48Z","2018-05-13T21:10:06Z","2018-05-13T21:10:24Z","2018-05-13T21:10:41Z","2018-05-13T21:10:58Z","2018-05-13T21:11:17Z","2018-05-13T21:11:36Z","2018-05-13T21:11:52Z","2018-05-13T21:12:10Z","2018-05-13T21:12:28Z","2018-05-13T21:12:46Z","2018-05-13T21:13:02Z","2018-05-13T21:13:21Z","2018-05-13T21:13:38Z","2018-05-13T21:1[...]
