interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://jsoc.stanford.edu/cgi-bin/ajax/jsoc_info?op=series_struct&ds=hmi.m_45s
  response:
    body:
      string: "{\n\t\"note\": \"magnetograms with a cadence of 45 seconds.\",\n\t\"retention\":
        10000,\n\t\"stagingretention\": 3,\n\t\"unitsize\": 32,\n\t\"archive\": 1,\n\t\"tapegroup\":
        6,\n\t\"primekeys\": [\"T_REC\",\n\t\"CAMERA\"],\n\t\"primekeysinfo\": [{\n\t\t\"name\":
        \"T_REC\",\n\t\t\"slotted\": 1,\n\t\t\"step\": \"45.0\"\n\t},\n\t{\n\t\t\"name\":
        \"CAMERA\",\n\t\t\"slotted\": 0\n\t}],\n\t\"dbindex\": [\"T_REC\",\n\t\"CAMERA\"],\n\t\"keywords\":
        [{\n\t\t\"name\": \"cparms_sg000\",\n\t\t\"type\": \"string\",\n\t\t\"recscope\":
        \"variable\",\n\t\t\"defval\": \"compress Rice\",\n\t\t\"units\": \"none\",\n\t\t\"note\":
        \"\"\n\t},\n\t{\n\t\t\"name\": \"magnetogram_bzero\",\n\t\t\"type\": \"double\",\n\t\t\"recscope\":
        \"variable\",\n\t\t\"defval\": \"0\",\n\t\t\"units\": \"none\",\n\t\t\"note\":
        \"\"\n\t},\n\t{\n\t\t\"name\": \"magnetogram_bscale\",\n\t\t\"type\": \"double\",\n\t\t\"recscope\":
        \"variable\",\n\t\t\"defval\": \"0.1\",\n\t\t\"units\": \"none\",\n\t\t\"note\":
        \"\"\n\t},\n\t{\n\t\t\"name\": \"DATE\",\n\t\t\"type\": \"time\",\n\t\t\"[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://jsoc.stanford.edu/cgi-bin/ajax/jsoc_info?op=rs_list&ds=hmi.M_45s%5B2020.01.01_01%3A01%3A13_TAI-2020.01.01_01%3A01%3A15_TAI%5D&key=%2A%2AALL%2A%2A
  response:
    body:
      string: '{"keywords":[{"name":"DATE","values":["2020-01-05T15:34:39Z"]},{"name":"DATE__OBS","values":["2020-01-01T01:00:22.10Z"]},{"name":"DATE-OBS","values":["2020-01-01T01:00:22.10Z"]},{"name":"TELESCOP","values":["SDO\/HMI"]},{"name":"INSTRUME","values":["HMI_FRONT2"]},{"name":"WAVELNTH","values":["6173.0"]},{"name":"CAMERA","values":["2"]},{"name":"BUNIT","values":["Gauss"]},{"name":"ORIGIN","values":["SDO\/JSOC-SDP"]},{"name":"CONTENT","values":["MAGNETOGRAM"]},{"name":"QUALITY","values":["0x00000000"]},{"name":"QUALLEV1","values":["0x[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://jsoc.stanford.edu/cgi-bin/ajax/checkAddress.sh?address=nabil.freij%2540gmail.com&checkonly=1
  response:
    body:
      string: '{"user_id": 4257, "msg": "Email address is valid and registered.",
        "status": 2}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
