interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://jsoc.stanford.edu/cgi-bin/ajax/jsoc_info?op=series_struct&ds=hmi.m_45s
  response:
    body:
      string: "{\n\t\"note\": \"magnetograms with a cadence of 45 seconds.\",\n\t\"retention\":
        10000,\n\t\"stagingretention\": 3,\n\t\"unitsize\": 32,\n\t\"archive\": 1,\n\t\"tapegroup\":
        6,\n\t\"primekeys\": [\"T_REC\",\n\t\"CAMERA\"],\n\t\"primekeysinfo\": [{\n\t\t\"name\":
        \"T_REC\",\n\t\t\"slotted\": 1,\n\t\t\"step\": \"45.0\"\n\t},\n\t{\n\t\t\"name\":
        \"CAMERA\",\n\t\t\"slotted\": 0\n\t}],\n\t\"dbindex\": [\"T_REC\",\n\t\"CAMERA\"],\n\t\"keywords\":
        [{\n\t\t\"name\": \"cparms_sg000\",\n\t\t\"type\": \"string\",\n\t\t\"recscope\":
        \"variable\",\n\t\t\"defval\": \"compress Rice\",\n\t\t\"units\": \"none\",\n\t\t\"note\":
        \"\"\n\t},\n\t{\n\t\t\"name\": \"magnetogram_bzero\",\n\t\t\"type\": \"double\",\n\t\t\"recscope\":
        \"variable\",\n\t\t\"defval\": \"0\",\n\t\t\"units\": \"none\",\n\t\t\"note\":
        \"\"\n\t},\n\t{\n\t\t\"name\": \"magnetogram_bscale\",\n\t\t\"type\": \"double\",\n\t\t\"recscope\":
        \"variable\",\n\t\t\"defval\": \"0.1\",\n\t\t\"units\": \"none\",\n\t\t\"note\":
        \"\"\n\t},\n\t{\n\t\t\"name\": \"DATE\",\n\t\t\"type\": \"time\",\n\t\t\"[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://jsoc.stanford.edu/cgi-bin/ajax/jsoc_info?op=rs_list&ds=hmi.M_45s%5B2020.01.01_01%3A01%3A13_TAI-2020.01.01_01%3A01%3A15_TAI%5D%5B%3F+QUALITY%3D1+%3F%5D&key=%2A%2AALL%2A%2A
  response:
    body:
      string: '{"count":0,"runtime":0.029,"status":0}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://jsoc.stanford.edu/cgi-bin/ajax/jsoc_info?op=rs_list&ds=hmi.M_45s%5B2020.01.01_01%3A01%3A13_TAI-2020.01.01_01%3A01%3A15_TAI%5D%5B%3F+QUALITY%3D0+%3F%5D&key=%2A%2AALL%2A%2A
  response:
    body:
      string: '{"keywords":[{"name":"DATE","values":["2020-01-05T15:34:39Z"]},{"name":"DATE__OBS","values":["2020-01-01T01:00:22.10Z"]},{"name":"DATE-OBS","values":["2020-01-01T01:00:22.10Z"]},{"name":"TELESCOP","values":["SDO\/HMI"]},{"name":"INSTRUME","values":["HMI_FRONT2"]},{"name":"WAVELNTH","values":["6173.0"]},{"name":"CAMERA","values":["2"]},{"name":"BUNIT","values":["Gauss"]},{"name":"ORIGIN","values":["SDO\/JSOC-SDP"]},{"name":"CONTENT","values":["MAGNETOGRAM"]},{"name":"QUALITY","values":["0x00000000"]},{"name":"QUALLEV1","values":["0x[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://jsoc.stanford.edu/cgi-bin/ajax/jsoc_info?op=rs_list&ds=hmi.M_45s%5B2020.01.01_01%3A01%3A13_TAI-2020.01.01_01%3A01%3A15_TAI%5D%5B%3F+QUALITY%3C2+%3F%5D&key=%2A%2AALL%2A%2A
  response:
    body:
      string: '{"keywords":[{"name":"DATE","values":["2020-01-05T15:34:39Z"]},{"name":"DATE__OBS","values":["2020-01-01T01:00:22.10Z"]},{"name":"DATE-OBS","values":["2020-01-01T01:00:22.10Z"]},{"name":"TELESCOP","values":["SDO\/HMI"]},{[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://jsoc.stanford.edu/cgi-bin/ajax/jsoc_info?op=series_struct&ds=aia.lev1_euv_12s
  response:
    body:
      string: "{\n\t\"note\": \"AIA Level 1, 12 second cadence\",\n\t\"retention\":
        0,\n\t\"stagingretention\": 3,\n\t\"unitsize\": 1,\n\t\"archive\": 0,\n\t\"tapegroup\":
        0,\n\t\"primekeys\": [\"T_REC\",\n\t\"WAVELNTH\"],\n\t\"primekeysinfo\": [{\n\t\t\"name\":
        \"T_REC\",\n\t\t\"slotted\": 1,\n\t\t\"step\": \"12.000000\"\n\t},\n\t{\n\t\t\"name\":
        \"WAVELNTH\",\n\t\t\"slotted\": 0\n\t}],\n\t\"dbindex\": [\"T_REC\",\n\t\"WAVELNTH\"],\n\t\"keywords\":
        [{\n\t\t\"name\": \"T_REC\",\n\t\t\"type\": \"time\",\n\t\t\"recscope\": \"ts_eq\",\n\t\t\"defval\":
        \"-4712.01.01_11:59:28Z\",\n\t\t\"units\": \"ISO\",\n\t\t\"note\": \"Slotted
        observation time\"\n\t},\n\t{\n\t\t\"name\": \"T_OBS\",\n\t\t\"linkinfo\":
        \"lev1->T_OBS\",\n\t\t\"type\": \"time\",\n\t\t\"recscope\": \"variable\",\n\t\t\"defval\":
        \"-4712.01.01_11:59:27.82Z\",\n\t\t\"units\": \"ISO\",\n\t\t\"note\": \"Observation
        time\"\n\t},\n\t{\n\t\t\"name\": \"WAVELNTH\",\n\t\t\"type\": \"int\",\n\t\t\"recscope\":
        \"variable\",\n\t\t\"defval\": \"-2147483648\",\n\t\t\"units\": \"angstrom\",\n\t\t\"note\":
        \"Wavelength\"\n\t},\n\t{\n\t\t\"name\": \"DATE\",\n\t\t\"type\": \"time\",\n\t\t\"recscope\":
     [...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://jsoc.stanford.edu/cgi-bin/ajax/jsoc_info?op=rs_list&ds=aia.lev1_euv_12s%5B2020.01.01_01%3A01%3A13_TAI-2020.01.01_01%3A01%3A15_TAI%5D%5B%3F+QUALITY%3C2+AND+EXPTIME%3C2+%3F%5D&key=%2A%2AALL%2A%2A
  response:
    body:
      string: '{"count":0,"runtime":0.177,"status":0}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://jsoc.stanford.edu/cgi-bin/ajax/jsoc_info?op=rs_list&ds=aia.lev1_euv_12s%5B2020.01.01_01%3A01%3A13_TAI-2020.01.01_01%3A01%3A15_TAI%5D%5B%3F+QUALITY%3C2+AND+EXPTIME%3E2+%3F%5D&key=%2A%2AALL%2A%2A
  response:
    body:
      string: '{"keywords":[{"name":"T_REC","values":["2020-01-01T01:00:35Z","2020-01-01T01:00:35Z","2020-01-01T01:00:35Z","2020-01-01T01:00:35Z","2020-01-01T01:00:35Z","2020-01-01T01:00:35Z","2020-01-01T01:00:35Z[...]
