interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://jsoc.stanford.edu/cgi-bin/ajax/jsoc_info?op=series_struct&ds=hmi.m_45s
  response:
    body:
      string: "{\n\t\"note\": \"magnetograms with a cadence of 45 seconds.\",\n\t\"retention\":
        10000,\n\t\"stagingretention\": 3,\n\t\"unitsize\": 32,\n\t\"archive\": 1,\n\t\"tapegroup\":
        6,\n\t\"primekeys\": [\"T_REC\",\n\t\"CAMERA\"],\n\t\"primekeysinfo\": [{\n\t\t\"name\":
        \"T_REC\",\n\t\t\"slotted\": 1,\n\t\t\"step\": \"45.0\"\n\t},\n\t{\n\t\t\"name\":
        \"CAMERA\",\n\t\t\"slotted\": 0\n\t}],\n\t\"dbindex\": [\"T_REC\",\n\t\"CAMERA\"],\n\t\"keywords\":
        [{\n\t\t\"name\": \"cparms_sg000\",\n\t\t\"type\": \"string\",\n\t\t\"recscope\":
        \"variable\",\n\t\t\"defval\": \"compress Rice\",\n\t\t\"units\": \"none\",\n\t\t\"note\":
        \"\"\n\t},\n\t{\n\t\t\"name\": \"magnetogram_bzero\",\n\t\t\"type\": \"double\",\n\t\t\"recscope\":
        \"variable\",\n\t\t\"defval\": \"0\",\n\t\t\"units\": \"none\",\n\t\t\"note\":
        \"\"\n\t},\n\t{\n\t\t\"name\": \"magnetogram_bscale\",\n\t\t\"type\": \"double\",\n\t\t\"recscope\":
        \"variable\",\n\t\t\"defval\": \"0.1\",\n\t\t\"units\": \"none\",\n\t\t\"note\":
        \"\"\n\t},\n\t{\n\t\t\"name\": \"DATE\",\n\t\t\"type\": \"time\",\n\t\t\"[...]
