# http://editorconfig.org

root = true

# utf, UNIX-style new line
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{py,rst,md}]
indent_style = space
indent_size = 4

[*.yml]
indent_style = space
indent_size = 2
