.DS_Store
.idea
.pydevproject
.settings
.project
*.orig
*.pyc
*.pyd
*.so
*.o
*.def
*~
*.swp
*.thumbs
MANIFEST
build
dist
sunpy.egg-info
paver-minilib.zip
docs/_build
docs/generated
docs/api/
.tox/
.coverage
htmlcov
result.xml
sunpy/version.py
sunpy/_compiler.c
sunpy/cython_version.py
sunpy/data/sample/*.fits
sunpy/data/sample/*.csv
sunpy/data/sample/*.fit
.cache
examples/figure.png

### https://raw.github.com/github/gitignore/master/Global/OSX.gitignore

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes


### https://raw.github.com/github/gitignore/master/Global/Windows.gitignore

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# VScode
.vscode
