.DS_Store
.pydevproject
.settings
.project
*.orig
*.pyc
*.pyd
*.so
*.o
*.def
*~
*.swp
MANIFEST
build
dist
sunpy.egg-info
paver-minilib.zip
doc/source/_build/*
doc/source/api
doc/html
docs
.tox/
.coverage
htmlcov
result.xml
sunpy/version.py
