Steven Christe <steven.d.christe@nasa.gov> steven christe <steven.d.christe@nasa.gov>
Steven Christe <steven.d.christe@nasa.gov> Steven Christe <schriste@imacnation.(none)>
Steven Christe <steven.d.christe@nasa.gov> Steven Christe <steven.christe@nasa.gov>
Steven Christe <steven.d.christe@nasa.gov> Steven Christe <ehsteve@users.noreply.github.com>
Albert Y. Shih <ayshih@gmail.com> Albert Shih <ayshih@gmail.com>
Albert Y. Shih <ayshih@gmail.com> ayshih <ayshih@gmail.com>
Jack Ireland <jack.ireland@nasa.gov> wafels <jackireland@gmail.com>
Jack Ireland <jack.ireland@nasa.gov> Jack Ireland <jackireland@gmail.com>
Jack Ireland <jack.ireland@nasa.gov> Jack Ireland <ireland@Ganymede.(none)>
Stuart Mumford <stuart@cadair.com> Stuart Mumford <stuartmumford@physics.org>
Stuart Mumford <stuart@cadair.com> Stuart Mumford <stuart@mumford.me.uk>
Stuart Mumford <stuart@cadair.com> Stuart Mumford <s.mumford@sheffield.ac.uk>
Stuart Mumford <stuart@cadair.com> U-Cadair-Core\stuart <stuart@Cadair-Core.(none)>
Stuart Mumford <stuart@cadair.com> Bertie Smith <stuart@cadair.com>
Florian Mayer <florian.mayer@bitsrc.org> Florian Mayer <flormayer@aim.com>
David Pérez-Suárez <dps.helio@gmail.com> dpshelio <dps.helio@gmail.com>
David Pérez-Suárez <dps.helio@gmail.com> DavidPS <dps.helio@gmail.com>
David Pérez-Suárez <dps.helio@gmail.com> David PS <dps.helio@gmail.com>
David Pérez-Suárez <dps.helio@gmail.com> David Perez-Suarez <dps.helio@gmail.com>
David Pérez-Suárez <dps.helio@gmail.com> David Perez-Suarez <d.perez-suarez@ucl.ac.uk>
Nabil Freij <nabil.freij@gmail.com> Nabobalis <nabil.freij@gmail.com>
Nabil Freij <nabil.freij@gmail.com> Nabil <nabil.freij@gmail.com>
Russell Hewett <rhewett@mit.edu> rhewett <russell.j.hewett@gmail.com>
Keith Hughitt <keith.hughitt@gmail.com> Keith Hughitt <keith@kore.(none)>
Simon Liedtke <liedtke.simon@googlemail.com> derdon <liedtke.simon@googlemail.com>
Andrew Leonard <andy.j.leonard@gmail.com> drew <drew@corona.(none)>
Andrew Leonard <andy.j.leonard@gmail.com> Drew Leonard <andy.j.leonard@gmail.com>
Pritish Chakraborty <chakrabortypritish@gmail.com> PritishC <pritishc@pritishc-HP-Mini-210-1100.(none)>
Pritish Chakraborty <chakrabortypritish@gmail.com> VaticanCameos <chakrabortypritish@gmail.com>
Daniel Ryan <ryand5@tcd.ie> DanRyanIrish <ryand5@tcd.ie>
Daniel Ryan <ryand5@tcd.ie> Dan Ryan <ryand5@tcd.ie>
Jose Ivan Campos Rozo <hypnus1803@gmail.com> Hypnus <hypnus1803@gmail.com>
Mateo Inchaurrandieta <mateo.inchaurrandieta@gmail.com> Mateo Inchaurrandieta <mateo.inchaurrandieta.13@ucl.ac.uk>
Rishabh Sharma <rishabh.sharma@students.iiit.ac.in> rishabh <rishabh.sharma@students.iiit.ac.in>
Rishabh Sharma <rishabh.sharma@students.iiit.ac.in>  gunner272 <rishabh.sharma@students.iiit.ac.in>
Andrew Inglis <a.r.inglis@gmail.com> aringlis <a.r.inglis@gmail.com>
Andrew Inglis <a.r.inglis@gmail.com> Andrew Inglis <Inglis@scapa.local>
Andrew Inglis <a.r.inglis@gmail.com> System Administrator <root@scapa.local>
Asish Panda <asishrocks95@gmail.com> kaichogami <asishrocks95@gmail.com>
Rajul Srivastava <rajul.iitkgp@gmail.com> Rajul <rajul.iitkgp@gmail.com>
Rajul Srivastava <rajul.iitkgp@gmail.com> Rajul <rajul09@gmail.com>
Rajul Srivastava <rajul.iitkgp@gmail.com> Rajul Srivastava <rajul09@gmail.com>
John Evans <john.g.evans.ne@gmail.com> quintusdias <john.g.evans.ne@gmail.com>
John Evans <john.g.evans.ne@gmail.com> jevans <john.g.evans.ne@gmail.com>
Ruben De Visscher <ruben.de.visscher@gmail.com> Ruben De Visscher <ruben.devisscher@observatory.be>
Tiago Pereira <tiago.pereira@astro.uio.no>  tiagopereira <tiago@1x-193-157-254-255.uio.no>
Dumindu Buddhika <dumindukarunathilaka@gmail.com> dumindux <dumindukarunathilaka@gmail.com>
Alex Hamilton <alex_ian_hamilton@hotmail.com> unknown <alex_ian_hamilton@hotmail.com>
Alex Hamilton <alex_ian_hamilton@hotmail.com>  <alex@DESKTOP-UDJUNRJ.home>
Alex Hamilton <alex_ian_hamilton@hotmail.com> Alex Hamilton <Alex_Ian_Hamilton@hotmail.com>
Alex Hamilton <alex_ian_hamilton@hotmail.com> Alex <alex_ian_hamilton@hotmail.com>
Alex Hamilton <alex_ian_hamilton@hotmail.com> Alex Hamilton <Alex Hamilton>
Chloé Guennou <c.guennou@gmail.com> Chloé <c.guennou@gmail.com>
Chloé Guennou <c.guennou@gmail.com> cguennou <c.guennou@gmail.com>
Jongyeob Park <pjystar@gmail.com> jongyeob <x9bong@hanmail.net>
Juan Camilo Buitrago-Casas <jcbuitragoc@unal.edu.co> Milo BC <jcbuitragoc@unal.edu.co>
Alex Hamilton <alex_ian_hamilton@hotmail.com> Alex-Ian-Hamilton <alex_ian_hamilton@hotmail.com>
Michael S Kirk <michael.s.kirk@nasa.gov> SolarBoy <michael.s.kirk@nasa.gov>
Michael S Kirk <michael.s.kirk@nasa.gov> SolarBoy <mskirk@gs670-mkmac.ndc.nasa.gov>
Punyaslok Pattnaik <punyaslokpattnaik@yahoo.co.in> Punyaslok <punyaslokpattnaik@yahoo.co.in>
Punyaslok Pattnaik <punyaslokpattnaik@yahoo.co.in> punyaslokpattnaik@yahoo.co.in <punyaslokpattnaik@yahoo.co.in>
Punyaslok Pattnaik <punyaslokpattnaik@yahoo.co.in> punyaslokpattnaik@yahoo.co.in <punyaslokpattnaik@yahoo.co.in>
Brigitta Sipocz <bsipocz@gmail.com> Brigitta Sipocz <b.sipocz@gmail.com>
Sally Dacie <sally.dacie.14@ucl.ac.uk> Sally <sally.dacie.14@ucl.ac.uk>
Sally Dacie <sally.dacie.14@ucl.ac.uk> SallyDa <sally.dacie.14@ucl.ac.uk>
Freek Verstringe <freek.verstringe@oma.be> freekv <freek.verstringe@oma.be>
Sanskar Modi <sanskar.modi.civ14@iitbhu.ac.in> sanskar-modi <sanskar.modi.civ14@iitbhu.ac.in>
Sudarshan Konge <sudk1896@gmail.com> sudarshan <sudk1896@gmail.com>
Sudarshan Konge <sudk1896@gmail.com> sudarshan <ssudk1896@gmail.com>
Priyank Lodha <priyank.bpgc@gmail.com> thelazy <priyank.bpgc@gmail.com>
Ankit <emonstar333@gmail.com> ankit <emonstar333@gmail.com>
Kalpesh Krishna <kalpeshk2011@gmail.com> KALPESH KRISHNA <kalpeshk2011@gmail.com>
Garrison Taylor <garrisontaylor@gmail.com> gbear605 <garrisontaylor@gmail.com>
Ankit Baruah <ankit.baruah1@gmail.com> abit2 <ankit.baruah1@gmail.com>
Ankit Kumar <ankitkmr@users.noreply.github.com> ankitkmr <technocrat.ankit@gmail.com>
Fionnlagh Mackenzie Dover <fmackenziedover1@sheffield.ac.uk> FinMacDov <fmackenziedover1@sheffield.ac.uk>
Michael Charlton<m.charlton@mac.com> Michael <m.charlton@mac.com>
Duygu Keşkek <duygukeskek@hotmail.com> Duygu KEŞKEK <duygukeskek@hotmail.com> 
Kaustubh Hiware <hiwarekaustubh@googlemail.com> kaustubhhiware <hiwarekaustubh@googlemail.com>
