language: python

os:
    - linux

stage: Initial tests

# Setting sudo to false opts in to Travis-CI container-based builds.
sudo: false

# The apt packages below are needed but can no longer be installed with
# sudo apt-get.
addons:
    apt:
        packages:
            - libatlas-dev
            - liblapack-dev
            - gfortran
            - graphviz
            - texlive-latex-extra
            - dvipng

cache:
  directories:
  - $HOME/sunpy/data

python:
    - 2.7
    - 3.5
    - 3.6

# Configure the build environment. Global varibles are defined for all configurations.

env:
    global:
        - COLUMNS=180
        - PREVIOUS_NUMPY=1.11.3
        - NUMPY_VERSION='stable'
        - ASTROPY_VERSION='stable'
        - MAIN_CMD='python setup.py'
        - SETUP_CMD='test'
        - CONDA_CHANNELS='astropy astropy-ci-extras'
        - CONDA_DEPENDENCIES='openjpeg Cython jinja2 scipy matplotlib mock requests beautifulsoup4 sqlalchemy scikit-image pytest-mock lxml pyyaml pandas nomkl'
        - PIP_DEPENDENCIES='hypothesis suds-jurko sphinx-gallery pytest-sugar pytest-rerunfailures sunpy-sphinx-theme glymur pytest-astropy'
        - EVENT_TYPE='pull_request push'


    matrix:
        - SETUP_CMD='egg_info'

stages:
   # Do the install jobs and one offline test, it will not proceed if any fail
   - name: Initial tests
   # Cron only tests
   - name: Cron tests
     if: type = cron
   # Do the rest of the tests
   - name: Comprehensive tests

matrix:

    # Don't wait for allowed failures
    fast_finish: true

    include:
         # We order the jobs, in terms of the maintaniers mood
         # Order of tests run in build stages
         - python: 3.6
           stage: Initial tests
           env: SETUP_CMD='test'

         - python: 3.6
           stage: Comprehensive tests
           # Run this with pytest because our `setup.py` runner does not
           # currently pick up doctests in docs/
           env: MAIN_CMD="py.test"
                SETUP_CMD="--remote-data -k-figure --cov ./"
                EVENT_TYPE='push pull_request cron'

         - python: 3.6
           stage: Comprehensive tests
           env: SETUP_CMD='build_docs -w'
                EVENT_TYPE='push pull_request cron'
                SPHINX_VERSION='<1.6'

         # Figure test runs use an env stored in the repo so don't have conda
         # requirements
         - python: 2.7
           stage: Comprehensive tests
           env: SETUP_CMD='test --figure' CONDA_DEPENDENCIES=''

         - python: 3.5
           stage: Comprehensive tests
           env: SETUP_CMD='test --figure' CONDA_DEPENDENCIES=''

         - python: 2.7
           stage: Comprehensive tests
           env: SETUP_CMD='test'

         - os: osx
           stage: Cron tests
           language: generic
           env: PYTHON_VERSION=3.6

         - python: 3.6
           stage: Cron tests
           env: ASTROPY_VERSION='dev'
                EVENT_TYPE='push pull_request cron'

         - python: 3.6
           stage: Cron tests
           env: NUMPY_VERSION='dev'
                EVENT_TYPE='push pull_request cron'

         - python: 3.6
           stage: Cron tests
           env: NUMPY_VERSION='dev' ASTROPY_VERSION='dev'
                EVENT_TYPE='push pull_request cron'

         # Previous numpy is tested on an older python version
         - python: 3.5
           stage: Cron tests
           env: NUMPY_VERSION=$PREVIOUS_NUMPY

install:
    - git clone git://github.com/astropy/ci-helpers.git
    - source ci-helpers/travis/setup_conda.sh

before_script:
    # Download the sample data for the build of the documentation.
    - if [[ $SETUP_CMD != *egg_info* ]]; then python -m "sunpy.data.sample"; fi
    - if [[ $PYTHON_VERSION == 2.7 ]]; then NUMPY_VERSON=1.13; fi
    - if [[ $MAIN_CMD == py.test* ]]; then python setup.py build; fi
    - if [[ $SETUP_CMD == *--figure* ]]; then conda env create --file sunpy/tests/figure_tests_env_$PYTHON_VERSION.yml; source activate sunpy-figure-tests-$PYTHON_VERSION; fi


script:
    - $MAIN_CMD $SETUP_CMD

after_success:
    - if [[ $SETUP_CMD == *cov* ]]; then coveralls --rcfile='./sunpy/tests/coveragerc'; fi

# Notify the IRC channel of build status
notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/d1bf84e1bc1293e4dbc5
      - "https://scalar.vector.im/api/neb/services/hooks/dHJhdmlzLWNpLyU0MENhZGFpciUzQW1hdHJpeC5vcmcvJTIxTWVSZEZwRW9uTG9Dd2hvSGVUJTNBbWF0cml4Lm9yZw"
    on_success: change  # always|never|change
    on_failure: always
    on_start: never
