language: python

python:
  - 2.6
  - 2.7
virtualenv:
     system_site_packages: false

# Configure the build environment. Global varibles are defined for all
# configurations. Each configuration in the matrix is run for each python version
# above.
env:
    global:
        - PIP_WHEEL_COMMAND="--find-links http://sunpy.cadair.com/wheelhouse/index.html --use-wheel --upgrade"
        - MATPLOTLIB_VERSION=1.3.0 SUDS_PKG='suds-jurko==0.4.1.jurko.4'
    matrix:
        - NUMPY_VERSION=1.7.1 PANDAS_VERSION=0.12.0
        - NUMPY_VERSION=1.6.2 PANDAS_VERSION=0.12.0
        - NUMPY_VERSION=1.7.1 PANDAS_VERSION=0.11.0

before_install:
# Pick the suds version based on the python version
   - if [[ $TRAVIS_PYTHON_VERSION == '2.6' ]]; then SUDS_PKG='suds' ;fi
# Make sure the system is upto date and install scipy requirements
   - sudo apt-get update -qq
   - sudo apt-get install -qq libatlas-dev liblapack-dev
# Make sure pip is at the latest version (>1.4 for wheels)
   - pip install pip --upgrade
# Wheels also need a recent version of setuptools
   - pip install setuptools>=0.8 --upgrade
# Install more upto date openjpeg binaries.
   - wget http://openjpeg.googlecode.com/files/openjpeg-1.5.0-Linux-x86_64.tar.gz
   - sudo tar -xvf openjpeg-1.5.0-Linux-x86_64.tar.gz --strip-components=1 -C /

# Install all SunPy dependacies using wheels.
install:
# Install Numpy first so we force the version we are using
   - pip install $PIP_WHEEL_COMMAND numpy==$NUMPY_VERSION
   - pip install $PIP_WHEEL_COMMAND matplotlib==$MATPLOTLIB_VERSION
   - pip install $PIP_WHEEL_COMMAND scipy
# Manually install pandas deps due to a pip 1.4 / pytz bug
   - pip install $PIP_WHEEL_COMMAND pytz==2013b python-dateutil
   - pip install $PIP_WHEEL_COMMAND pandas==$PANDAS_VERSION
   - pip install $PIP_WHEEL_COMMAND astropy
   - pip install $PIP_WHEEL_COMMAND $SUDS_PKG beautifulsoup4
   - pip install $PIP_WHEEL_COMMAND pytest 
# Install SunPy and run tests.
script:
  - python setup.py develop
  - py.test

# Notify the IRC channel of build status
notifications:
  irc: "chat.freenode.net#SunPy"
