language: python

python:
  - 2.6
  - 2.7

virtualenv:
     system_site_packages: false

# Configure the build environment. Global varibles are defined for all
# configurations. Each configuration in the matrix is run for each python version
# above.
env:
    global:
        - PIP_WHEEL_COMMAND="--find-links http://sunpy.cadair.com/wheelhouse/index.html --use-wheel --upgrade"
        - SUDS_PKG='suds-jurko==0.4.1.jurko.4'
        - TEST_MODE='tests'
    matrix:
        - NUMPY_VERSION=1.8.1 PANDAS_VERSION=0.14.0
        - NUMPY_VERSION=1.7.1 PANDAS_VERSION=0.14.0
        - NUMPY_VERSION=1.8.1 PANDAS_VERSION=0.13.1
matrix:
     include:
        - python: 2.7
          env: TEST_MODE='sphinx' NUMPY_VERSION=1.8.1 PANDAS_VERSION=0.14.0
        - python: 2.7
          env: TEST_MODE='offline' NUMPY_VERSION=1.8.1 PANDAS_VERSION=0.14.0

before_install:
# Pick the suds version based on the python version
   - if [[ $TRAVIS_PYTHON_VERSION == '2.6' ]]; then SUDS_PKG='suds' ;fi
# Make sure the system is upto date and install scipy requirements
   - sudo apt-get update -qq
   - sudo apt-get install -qq libatlas-dev liblapack-dev gfortran
   - if [[ $TEST_MODE == 'sphinx' ]]; then sudo apt-get install graphviz texlive-latex-extra dvipng; fi
# Make sure pip is at the latest version (>1.4 for wheels)
   - pip install pip --upgrade
# Wheels also need a recent version of setuptools
   - pip install setuptools>=0.8 --upgrade
# Install more upto date openjpeg library.
   - wget http://openjpeg.googlecode.com/files/openjpeg-1.5.0-Linux-x86_64.tar.gz
   - sudo tar -xvf openjpeg-1.5.0-Linux-x86_64.tar.gz --strip-components=1 -C /
# Install coveralls
   - pip install $PIP_WHEEL_COMMAND coveralls pytest-cov pytest-xdist

# Install all SunPy dependacies using wheels.
install:
# Install Numpy first so we force the version we are using
   - pip install $PIP_WHEEL_COMMAND numpy==$NUMPY_VERSION
   - pip install $PIP_WHEEL_COMMAND matplotlib
   - pip install $PIP_WHEEL_COMMAND scipy
   - pip install $PIP_WHEEL_COMMAND openpyxl==1.8.6 pandas==$PANDAS_VERSION
   - pip install $PIP_WHEEL_COMMAND astropy>=0.3.1
   - pip install $PIP_WHEEL_COMMAND $SUDS_PKG beautifulsoup4 requests
   - pip install $PIP_WHEEL_COMMAND pytest 
   - pip install $PIP_WHEEL_COMMAND glymur
# Install scikit-image package - originally included in order to test image coalignment functionality
   - pip install $PIP_WHEEL_COMMAND cython
   - pip install $PIP_WHEEL_COMMAND scikit-image
   - pip install $PIP_WHEEL_COMMAND sqlalchemy
# Install sphinx if needed
   - if [[ $TEST_MODE == 'sphinx' ]]; then pip install $PIP_WHEEL_COMMAND sphinx>=1.2; fi 

# Install SunPy and run tests.
script:
   - python setup.py develop
   - if [[ $TEST_MODE == 'sphinx' ]]; then cd doc/source && sphinx-build -W -b html -d _build/doctrees   . _build/html; fi
   - if [[ $TEST_MODE == 'tests' ]]; then py.test -n 8 --cov-report html --cov sunpy; fi
   - if [[ $TEST_MODE == 'offline' ]]; then py.test -n 8 --cov-report html --cov sunpy -k-online; fi

after_success:
   - if [[ $TEST_MODE == 'tests' ]]; then coveralls; fi

# Notify the IRC channel of build status
notifications:
  irc: "chat.freenode.net#SunPy"
