language: python

# Setting sudo to false opts in to Travis-CI container-based builds.
sudo: false

# The apt packages below are needed but can no longer be installed with
# sudo apt-get.
addons:
    apt:
        packages:
            - libatlas-dev
            - liblapack-dev
            - gfortran
            - graphviz
            - texlive-latex-extra
            - dvipng

python:
    - 2.7
    - 3.4
    - 3.5
    - 3.6

# Configure the build environment. Global varibles are defined for all configurations.
env:
    global:
        - COLUMNS=240
        - PREVIOUS_NUMPY=1.10.4
        - NUMPY_VERSION='stable'
        - ASTROPY_VERSION='stable'
        - MAIN_CMD='python setup.py'
        - SETUP_CMD='test'
        - CONDA_CHANNELS='astropy astropy-ci-extras conda-forge'
        - CONDA_DEPENDENCIES='openjpeg Cython jinja2 scipy matplotlib mock requests beautifulsoup4 sqlalchemy scikit-image pytest-mock pyyaml pandas nomkl pytest-cov coverage hypothesis'
        - PIP_DEPENDENCIES='suds-jurko sphinx-gallery glymur pytest-sugar'
        - EVENT_TYPE='pull_request push'

    matrix:
        - SETUP_CMD='egg_info'

matrix:
    include:
         # We order the jobs, so the longest running tests are in the top
         # three positions of the matrix
         - python: 3.6
           env: SETUP_CMD='test --online --coverage -V'
                EVENT_TYPE='push pull_request cron'

         - os: osx
           language: generic
           env: PYTHON_VERSION=3.6

         - python: 3.6
           env: NUMPY_VERSION='dev' ASTROPY_VERSION='dev'
                EVENT_TYPE='push pull_request cron'

         - python: 2.7
           env: SETUP_CMD='test'

         # Previous numpy is tested on an older python version
         - python: 3.4
           env: NUMPY_VERSION=$PREVIOUS_NUMPY

         - python: 3.5
           env: SETUP_CMD='build_docs -w'
                EVENT_TYPE='push pull_request cron'

         # Figure test runs use an env stored in the repo so don't have conda
         # requirements
         - python: 2.7
           env: SETUP_CMD='test --figure' CONDA_DEPENDENCIES=''

         - python: 3.5
           env: SETUP_CMD='test --figure' CONDA_DEPENDENCIES=''

    allow_failures:
         # Temporarily allowing it to fail, but remove it from here asap once
         # the build is passing again
         - python: 3.5
           env: SETUP_CMD='build_docs -w'
                EVENT_TYPE='push pull_request cron'

install:
    - git clone git://github.com/astropy/ci-helpers.git
    - source ci-helpers/travis/setup_conda_$TRAVIS_OS_NAME.sh
    - source continuous-integration/travis/openjpeg.sh  # so glymur knows where to look

before_script:
    # Download the sample data for the build of the documentation.
    - if [[ $SETUP_CMD == *build_docs* ]]; then python -c "import sunpy.data; sunpy.data.download_sample_data()"; fi
    - if [[ $SETUP_CMD == *figure* ]]; then conda env create --file sunpy/tests/figure_tests_env_$PYTHON_VERSION.yml; source activate sunpy-figure-tests-$PYTHON_VERSION; fi


script:
    - $MAIN_CMD $SETUP_CMD

after_success:
    - if [[ $SETUP_CMD == *coverage* ]]; then coveralls --rcfile='./sunpy/tests/coveragerc'; fi

# Notify the IRC channel of build status
notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/d1bf84e1bc1293e4dbc5
      - "https://scalar.vector.im/api/neb/services/hooks/dHJhdmlzLWNpLyU0MENhZGFpciUzQW1hdHJpeC5vcmcvJTIxTWVSZEZwRW9uTG9Dd2hvSGVUJTNBbWF0cml4Lm9yZw"
    on_success: change  # always|never|change
    on_failure: always
    on_start: never
