language: python

python:
  - 2.7

virtualenv:
     system_site_packages: true

env:
    - NUMPY_VERSION=1.7.0 SETUP_CMD='test' MATPLOTLIB_VERSION=1.1 SUDS_PKG='suds-jurko'

#matrix:
#    include:
#        - python: 2.6
#        env: NUMPY_VERSION=1.7.0 SETUP_CMD='test' OPTIONAL_DEPS=true MATPLOTLIB_VERSION=1.1 SUDS_PKG='suds'

before_install:
   # We do this to make sure we get the dependencies so pip works below
   - sudo apt-get update -qq
   - sudo apt-get install -qq python-numpy cython libatlas-dev liblapack-dev gfortran python-matplotlib python-pandas python-pyfits
   # This means we don't have to build scipy, however it does mean that we are reliant upon this package working.
   - sudo add-apt-repository -y ppa:pylab/stable
   - sudo apt-get update
   - sudo apt-get install python-scipy

# command to install dependencies
install: 
  - pip install pytest suds-jurko beautifulsoup4
#  - pip install pyfits --use-mirrors
  - pip install numpy --upgrade -q --use-mirrors
  - pip install --upgrade "matplotlib==$MATPLOTLIB_VERSION" -q --use-mirrors
  - pip install --upgrade pandas -q --use-mirrors
#  - pip install --upgrade scipy -q --use-mirrors

# command to run tests
script:
  - pwd
  - python setup.py develop
  - py.test 
