# All files in sunpy/ should be included in package_data in setup.cfg
include ah_bootstrap.py
include CHANGELOG.rst
include licenses/*.rst
include pyproject.toml
include README.rst
include RELEASE.rst
include setup.py
include setup.cfg

recursive-include astropy_helpers *
exclude astropy_helpers/.*
