recursive-include sunpy *.py
recursive-include sunpy *.h
recursive-include sunpy *.c
recursive-include sunpy/data *
recursive-include sunpy *.txt
include README.md
include RELEASE.md
include CHANGELOG.md
include LICENSE.txt
include sunpy/data/sunpyrc
include setup.py
include distribute_setup.py
