interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://heasarc.gsfc.nasa.gov/FTP/fermi/data/gbm/daily/2012/08/09/current/
  response:
    body:
      string: "<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 3.2 Final//EN\">\n<html>\n
        <head>\n  <title>Index of /FTP/fermi/data/gbm/daily/2012/08/09/current</title>\n
        </head>\n <body>\n<h1>Index of /FTP/fermi/data/gbm/daily/2012/08/09/current</h1>\n<pre><img
        src=\"/icons/blank.gif\" alt=\"Icon \"> <a href=\"?C=N;O=D\">Name</a>                                  <a
        href=\"?C=M;O=A\">Last modified</a>      <a href=\"?C=S;O=A\">Size</a>  <a
        href=\"?C=D;O=A\">Description</a><hr><img src=\"/icons/back.gif\" alt=\"[DIR]\">
        <a href=\"/FTP/fermi/data/gbm/daily/2012/08/09/\">Parent Directory</a>                                           -
        \  \n<img src=\"/icons/unknown.gif\" alt=\"[   ]\"> <a href=\"glg_cspec_b0_120809_v00.pha\">glg_cspec_b0_120809_v00.pha</a>
        \          10-Aug-2012 03:20  5.0M  \n<img src=\"/icons/unknown.gif\" alt=\"[
        \  ]\"> <a href=\"glg_cspec_b1_120809_v00.pha\">glg_cspec_b1_120809_v00.pha</a>
        \          10-Aug-2012 0[...]
