interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://www.lmsal.com/hek/her?cmd=export-voevent&cosec=1&ivorn=ivo%3A%2F%2Fhelio-informatics.org%2FFL6173_AlbertoSainzDalda_20110811_172601
  response:
    body:
      string: ''
    headers:
      Location:
      - https://www.lmsal.com/hek/her?cmd=export-voevent&cosec=1&ivorn=ivo%3A%2F%2Fhelio-informatics.org%2FFL6173_AlbertoSainzDalda_20110811_172601
    status:
      code: 302
      message: Moved Temporarily
- request:
    body: null
    headers:
    method: GET
    uri: https://www.lmsal.com/hek/her?cmd=export-voevent&cosec=1&ivorn=ivo%3A%2F%2Fhelio-informatics.org%2FFL6173_AlbertoSainzDalda_20110811_172601
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" ?>\n<voe:VOEvent ivorn=\"ivo://helio-informatics.org/FL6173_AlbertoSainzDalda_20110811_172601\"
        \n\trole=\"observation\" version=\"1.1\" xmlns:voe=\"http://www.ivoa.net/xml/VOEvent/v1.1\"\n\txmlns:stc=\"http://www.ivoa.net/xml/STC/stc-v1.30.xsd\"\n\txmlns:lmsal=\"http://www.lmsal.com/helio-informatics/lmsal-v1.0.xsd\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\n\txmlns:crd=\"urn:nvo-coords\"\n\txsi:schemaLocation=\"http://www.ivoa.net/xml/VOEvent/v1.1
        http://www.lmsal.com/helio-informatics/VOEvent-v1.1.xsd\">\n\n<!--This is
        a VOEvent, generated from the annotation process. -->\n\n\t<Who>\n\t\t<!--
        Data pertaining to curation -->\n\t\t<AuthorIVORN>Reserved for KB archivist:
        URL to suppl. info.</AuthorIVORN>\n\t\t<Author>\n\t\t\t<contactName>Alberto
        Sainz Dalda</contactName>\n\t\t\t<contactEmail>asainz@lmsal.com</contactEmail>\n\t\t\t<contactPhone>-----------</contactPhone>\n\t\t</Author>\n\t\t<Date>2011-08-11T17:26:01.854</Date>\n\n\t</Who>\n\n\n\t<What>\n\t\t<!--
        Data pertaining to what was measured/observed. -->\n\t\t<lmsal:OBSTITLE>Small
        flare in AR</lmsal:OBSTITLE>\n\n\t\t<Group name=\"Flare_optional\">\n\t\t\t<Param
        name=\"AR_McIntoshCls\" value=\"\"/>\n\t\t\t<Param name=\"AR_MtWilsonCls\"
        value=\"\"/>\n\t\t\t<Param name=\"AR_ZurichCls\" value=\"\"/>\n\t\t\t<Param
        name=\"AR_PenumbraCls\" value=\"\"/>\n\t\t\t<Param name=\"AR_CompactnessCls\"
        value=\"\"/>\n\t\t\t<Param name=\"AR_NOAAclass\" value=\"\"/>\n\t\t\t<Param
        name=\"AR_NOAANum\" value=\"\"/>\n\t\t\t<Param name=\"AR_NumSpots\" value=\"\"/>\n\t\t\t<Param
        name=\"AR_Polarity\" value=\"\"/>\n\t\t\t<Param name=\"FL_GOESCls\" value=\"\"/>\n\t\t\t<Param
        name=\"Area_AtDiskCenter\" value=\"\"/>\n\t\t\t<Param name=\"Area_AtDiskCenterUncert\"
        value=\"\"/>\n\t\t\t<Param name=\"Area_Raw\" value=\"\"/>\n\t\t\t<Param name=\"Area_Uncert\"
        value=\"\"/>\n\t\t\t<Param name=\"Area_Unit\" value=\"\"/>\n\t\t\t<Param name=\"Event_Npixels\"
        value=\"\"/>\n\t\t\t<Param name=\"Event_PixelUnit\" value=\"\"/>\n\t\t\t<Param
        name=\"FL_PeakFlux\" value=\"\"/>\n\t\t\t<Param name=\"FL_PeakFluxUnit\" value=\"\"/>\n\t\t\t<Param
        name=\"FL_PeakTemp\" value=\"\"/>\n\t\t\t<Param name=\"FL_PeakTempUnit\" value=\"\"/>\n\t\t\t<Param
        name=\"FL_PeakEM\" value=\"\"/>\n\t\t\t<Param name=\"FL_PeakEMUnit\" value=\"\"/>\n\t\t\t<Param
        name=\"FL_EFoldTime\" value=\"\"/>\n\t\t\t<Param name=\"FL_EFoldTimeUnit\"
        value=\"\"/>\n\t\t\t<Param name=\"FL_Fluence\" value=\"\"/>\n\t\t\t<Param
        name=\"FL_FluenceUnit\" value=\"\"/>\n\t\t</Group>\n\t</What>\n\n\n\t<WhereWhen>\n\t\t<!--
        Data pertaining to when and where something occured -->\n\t\t<ObsDataLocation
        xmlns=\"http://www.ivoa.net/xml/STC/stc-v1.30.xsd\">\n\t\t\t<ObservatoryLocation>\n\t\t\t\t<AstroCoordSystem>\n\t\t\t\t</AstroCoordSystem>\n\t\t\t\t<AstroCoords
        id=\"UTC-HPC-TOPO\" coord_system_id=\"UTC-HPC-TOPO\">\n\t\t\t\t</AstroCoords>\n\t\t\t</ObservatoryLocation>\n\t\t\t<ObservationLocation
        id=\"SDO\">\n\t\t\t\t<AstroCoordSystem>\n\t\t\t\t</AstroCoordSystem>\n\t\t\t\t<AstroCoords
        coord_system_id=\"UTC-HPC-TOPO\">\n\t\t\t\t<Time>\n\t\t\t\t\t<TimeInstant>\n\t\t\t\t\t\t<ISOTime>2011-08-08T01:30:04.000</ISOTime>\n\t\t\t\t\t</TimeInstant>\n\t\t\t\t</Time>\n\n\t\t\t\t<Position2D
        unit=\"arcsec\">\n\t\t\t\t\t<Value2>\n\t\t\t\t\t\t<C1>51</C1>\n\t\t\t\t\t\t<C2>151</C2>\n\t\t\t\t\t</Value2>\n\t\t\t\t\t<Error2>\n\t\t\t\t\t\t<C1>521.5</C1>\n\t\t\t\t\t\t<C2>324.9</C2>\n\t\t\t\t\t</Error2>\n\t\t\t\t</Position2D>\n\t\t\t</AstroCoords>\n\t\t\t\t<AstroCoordArea
        coord_system_id=\"UTC-HPC-TOPO\">\n\t\t\t\t\t<TimeInterval>\n\t\t\t\t\t\t<StartTime>\n\t\t\t\t\t\t\t<ISOTime>2011-08-08T01:30:04.000</ISOTime>\n\t\t\t\t\t\t</StartTime>\n\t\t\t\t\t\t<StopTime>\n\t\t\t\t\t\t\t<ISOTime>2011-08-10T00:00:04.000</ISOTime>\n\t\t\t\t\t\t</StopTime>\n\t\t\t\t\t</TimeInterval>\n\t\t\t\t\t<Box2>\n\t\t\t\t\t\t<Center>\n\t\t\t\t\t\t\t<C1>51.5</C1>\n\t\t\t\t\t\t\t<C2>151.0</C2>\n\t\t\t\t\t\t</Center>\n\t\t\t\t\t\t<Size>\n\t\t\t\t\t\t\t<C1>1043.0</C1>\n\t\t\t\t\t\t\t<C2>650.0</C2>\n\t\t\t\t\t\t</Size>\n\t\t\t\t\t</Box2>\n\t\t\t\t</AstroCoordArea>\n\t\t\t</ObservationLocation>\n\t\t</ObsDataLocation>\n\n\n\t\t<Group
        name=\"Flare_required\">\n\t\t\t<Param name=\"Event_PeakTime\" value=\"2011-08-09T11:55:00Z\"/>\n\t\t</Group>\n\n\t\t<Group
        name=\"Flare_optional\">\n\t\t\t<Param name=\"Event_MaskURL\" value=\"\"/>\n\t\t\t<Param
        name=\"Event_ClippedSpatial\" value=\"\"/>\n\t\t\t<Param name=\"Event_ClippedTemporal\"
        value=\"\"/>\n\t\t\t<Param name=\"RasterScan\" value=\"\"/>\n\t\t\t<Param
        name=\"RasterScanType\" value=\"\"/>\n\t\t\t<Param name=\"Skel_ChainCode\"
        value=\"\"/>\n\t\t\t<Param name=\"Skel_Curvature\" value=\"\"/>\n\t\t\t<Param
        name=\"Skel_Nsteps\" value=\"\"/>\n\t\t\t<Param name=\"Skel_StartC1\" value=\"\"/>\n\t\t\t<Param
        name=\"Skel_StartC2\" value=\"\"/>\n\t\t</Group>\n\t</WhereWhen>\n\n\t<How>\n\t\t<!--
        Data pertaining to how the feature/event detection was performed -->\n\n\t\t<lmsal:data>\n\t\t\t<lmsal:OBS_ChannelID>6173</lmsal:OBS_ChannelID>\n\t\t\t<lmsal:OBS_Instrument>HMI</lmsal:OBS_Instrument>\n\t\t\t<lmsal:OBS_MeanWavel>6173</lmsal:OBS_MeanWavel>\n\t\t\t<lmsal:OBS_WavelUnit>angstroms</lmsal:OBS_WavelUnit>\n\t\t</lmsal:data>\n\n\t\t<lmsal:method>\n\t\t\t<lmsal:FRM_Name>asainz</lmsal:FRM_Name>\n\t\t\t<lmsal:FRM_DateRun>2011-08-11T17:26:01.662Z</lmsal:FRM_DateRun>\n\t\t\t<lmsal:FRM_HumanFlag>true</lmsal:FRM_HumanFlag>\n\t\t\t<lmsal:FRM_Institute>LMSAL</lmsal:FRM_Institute>\n\t\t\t<lmsal:FRM_Contact>Scott
        Green</lmsal:FRM_Contact>\n\t\t\t<lmsal:FRM_Identifier>Annotator-build_20110621-avc</lmsal:FRM_Identifier>\n\t\t\t<lmsal:FRM_ParamSet>n/a</lmsal:FRM_ParamSet>\n\t\t</lmsal:method>\n\n\t\t<Group
        name=\"Flare_optional\">\n\t\t\t<Param name=\"Event_TestFlag\" value=\"\"/>\n\t\t</Group>\n\t</How>\n\n\t<Why
        importance=\"0.8\">\n\t\t<Inference probability=\"\"/>\n\t\t<Concept>Flare</Concept>\n\t\t<lmsal:EVENT_TYPE>FL:
        Flare</lmsal:EVENT_TYPE>\n\n\t\t<Group name=\"Flare_optional\">\n\t\t\t<Param
        name=\"Event_Probability\" value=\"\"/>\n\t\t</Group>\n\n\t\t<Description>Small
        flare in the lower pat of the AR. Few instants before, a coronal shock wave
        appears from the right part of the image.</Description>\n\t</Why>\n\n\t<Citations>\n\t\t<Reference
        type=\"ivorn\" uri=\"ivo://helio-informatics.org/FL211_AlbertoSainzDalda_20110811_172601\"
        name=\"FL:  HER Entry\"/>\n\t\t<Reference type=\"movie\" uri=\"http://sdowww.lmsal.com/sdomedia/h264/2011/08/08/AVC_AlbertoSainzDalda_20110808T013004-20110810T000004_SDO_211-6173_300.0_20110811_172601.mov\"
        name=\"Movie\"/>\n\t</Citations>\n\n\t<Reference name=\"Event_MapURL\" uri=\"\"/>\n\t<Reference
        name=\"FRM_URL\" uri=\"n/a\"/>\n\n</voe:VOEvent>"
    headers:
      Content-Type:
      - text/xml;charset=ISO-8859-1
    status:
      code: 200
      message: ''
version: 1
