interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.lmsal.com/hek/her?cosec=2&cmd=search&type=column&event_type=%2A%2A&x1=-5000&y1=-5000&x2=5000&y2=5000&event_coordsys=helioprojective&event_starttime=2013-02-01T00%3A00%3A00&event_endtime=2013-02-01T23%3A30%3A00&param0=FRM_Name&value0=SPoCA&op0=%3D&page=1
  response:
    body:
      string: "\n       {\n\"result\":[\n{\n\"gs_thumburl\":\"http://sdowww.lmsal.com/sdomedia/ssw/ssw_client/data/ssw_service_130203_011139_29548/www/ssw_cutout_193_context_thumb.gif\",\"comment_count\":\"0\",\"hpc_bbox\":\"POLYGON((-398.1
        -967.5,-65.7 -967.5,-65.7 -820.5,-398.1 -820.5,-398.1 -967.5))\",\"frm_humanflag\":\"false\",\"hgc_coord\":\"POINT(-141.347793
        -70.987778)\",\"event_coordsys\":\"UTC-HPC-TOPO\",\"obs_levelnum\":1.5,\"hpc_coord\":\"POINT(-281.097
        -901.298)\",\"event_npixels\":24652,\"gs_imageurl\":\"http://sdowww.lmsal.com/sdomedia/ssw/ssw_client/data/ssw_service_130203_011139_29548/www/ssw_cutout_193_context_full.gif\",\"ar_polarity\":null,\"frm_paramset\":\"image195
        : calibrated image 193/195 A; spocaPreprocessing=DivExpTime,ALC,ThrMax80,TakeSqrt;
        spocaClassifierType=HFCM; spocaNumberclasses=4; spocaChannels=[AIA_193]; spocaPrecision=0.00150000;
        spocaRadiusRatio=1.20; spocaBinsize=0.01000000; spocaSegmentationType=max;
        spocaVersion=2.00; intensitiesStatsPreprocessing=NAR,DivExpTime; intensitiesStatsRadiusRatio=0.95;
        trackingDeltat=36000; trackingOverlap=2; trackingNumberImages=6; minLifeTime=259200;
        minDeathTime=28800; spocaCenters=(6.5934),(9.8806),(12.3848),(15.4873)\",\"hrc_coord\":\"POINT(0.969388160592885
        162.678333599314)\",\"event_starttime\":\"2013-01-31T20:13:31\",\"ar_mtwilsoncls\":\"\",\"event_type\":\"CH\",\"intensmin\":37.5069999999999979,\"obs_meanwavel\":1.93000000000000016e-06,\"frm_url\":\"http://sdoatsidc.oma.be/web/sdoatsidc/SoftwareSPoCA\",\"skel_chaincode\":\"\",\"bound_chaincode\":\"POLYGON((-398.1
        -885.3,-396.3 -884.7,-360.3 -857.1,-351.9 -829.5,-322.5 -820.5,-293.1 -888.3,-261.3
        -918.3,-162.9 -954.9,-98.7 -939.3,-65.7 -959.1,-71.7 -967.5,-247.5 -939.9,-398.1
        -885.3))\",\"noposition\":\"false\",\"active\":\"true\",\"intensmax\":67.5126000000000062,\"frm_versionnumber\":1,\"area_uncert\":361100992,\"obs_dataprepurl\":\"\",\"hpc_geom\":\"0103000000010000000D0000009A99999999E178C06666666666AA8BC0CDCCCCCCCCC478C09A99999999A58BC0CDCCCCCCCC8476C0CDCCCCCCCCC88AC06666666666FE75C00000000000EC89C000000000002874C00000000000A489C09A999999995172C06666666666C28BC0CDCCCCCCCC5470C06666666666B28CC0CDCCCCCCCC5C64C03333333333D78DC0CDCCCCCCCCAC58C066666666665A8DC0CDCCCCCCCC6C50C0CDCCCCCCCCF88DC0CDCCCCCCCCEC51C000000000003C8EC00000000000F06EC033333333335F8DC09A99999999E178C06666666666AA8BC0\",\"hgc_bbox\":\"POLYGON((-155.477733
        -66.949804,-163.127714 -86.11257,-87.670252 -63.136457,-136.107525 -60.885199,-155.477733
        -66.949804))\",\"intensmedian\":55.5103999999999971,\"chaincodetype\":\"ordered
        list of points in HPC\",\"obs_channelid\":\"AIA 193\",\"event_clippedspatial\":\"T\",\"ar_noaaclass\":\"\",\"SOL_standard\":\"SOL2013-01-31T20:13:31L219C160\",\"event_avg_rating\":null,\"eventtype\":\"5\",\"intensunit\":\"DN/s\",\"hpc_boundcc\":\"POLYGON((-398.1
        -885.3,-396.3 -884.7,-360.3 -857.1,-351.9 -829.5,-322.5 -820.5,-293.1 -888.3,-261.3
        -918.3,-162.9 -954.9,-98.7 -939.3,-65.7 -959.1,-71.7 -967.5,-247.5 -939.9,-398.1
        -885.3))\",\"event_mapurl\":\"\",\"frm_contact\":\"veronique.delouille@sidc.be\",\"ar_penumbracls\":\"\",\"intensmean\":55.1584000000000003,\"bound_ccstartc1\":-398.100000000000023,\"frm_name\":\"SPoCA\",\"area_atdiskcenter\":25231800300,\"frm_identifier\":\"vdelouille\",\"obs_observatory\":\"SDO\",\"event_description\":\"\",\"boundbox_c2ur\":-820.5,\"obs_firstprocessingdate\":\"\",\"boundbox_c2ll\":-967.5,\"frm_institute\":\"ROB\",\"hrc_bbox\":\"POLYGON((1.074208
        157.634163,0.995687 176.115181,0.84516 175.421916,0.936391 154.117712,1.074208
        157.634163))\",\"refs_orig\":\"\",\"hrc_skeletoncc\":\"\",\"ar_mcintoshcls\":\"\",\"event_maskurl\":\"\",\"bound_ccstartc2\":-885.299999999999955,\"gs_movieurl\":\"\",\"event_score\":\"0.0661120594353912655\",\"skel_startc2\":null,\"skel_startc1\":null,\"event_expires\":\"\",\"hrc_boundcc\":\"POLYGON((0.996675
        155.787595,0.995356 155.87008,0.954639 157.199526,0.925177 157.011815,0.905204
        158.542542,0.960446 161.739379,0.98031 164.116428,0.994626 170.318892,0.969754
        174.001473,0.987082 176.081262,0.996123 175.761642,0.997958 165.247436,0.996675
        155.787595))\",\"event_probability\":0,\"intensvar\":38.1394999999999982,\"frm_daterun\":\"2013-02-01T00:33:28\",\"event_coordunit\":\"arcsec,arcsec\",\"hpc_y\":-901.298,\"hpc_x\":-281.097,\"search_instrument\":\"AIA\",\"ar_numspots\":null,\"kb_archivdate\":\"2013-02-03T08:32:24\",\"kb_archivist\":\"eds\",\"intenstotal\":208002,\"sum_overlap_scores\":\"0\",\"hgs_boundcc\":\"POLYGON((-88.681584
        -65.877064,-89.249372 -65.999371,-60.582308 -64.906479,-50.971738 -62.33686,-44.323722
        -61.773606,-58.274403 -69.308294,-69.131621 -73.330276,-88.295876 -80.372155,-34.696973
        -79.757099,-47.94504 -84.7914,-80.863265 -85.725685,-82.650555 -75.158526,-88.681584
        -65.877064))\",\"intensskew\":-0.249512000000000012,\"obs_includesnrt\":\"T\",\"rasterscan\":\"\",\"obs_wavelunit\":\"cm\",\"kb_archivid\":\"ivo://helio-informatics.org/CH_SPoCA_20130201_003328_20130201T001331_0\",\"search_frm_name\":\"SPoCA\",\"boundbox_c1ur\":-65.7000000000000028,\"ar_noaanum\":null,\"area_atdiskcenteruncert\":1372329980,\"boundbox_c1ll\":-398.100000000000023,\"event_importance_num_ratings\":\"\",\"ar_compactnesscls\":\"\",\"event_testflag\":\"false\",\"event_c2error\":15.6616999999999997,\"hrc_r\":0.969388160592885,\"skel_nsteps\":null,\"hgs_y\":-70.987778,\"obs_title\":\"\",\"hgs_x\":-62.241233,\"hcr_checked\":\"true\",\"frm_specificid\":\"SPoCA_v1.0_CH_0000008317\",\"event_title\":\"\",\"hgc_skeletoncc\":\"\",\"obs_instrument\":\"AIA\",\"event_c1error\":5.30433999999999983,\"revision\":\"1\",\"hpc_radius\":\"944.115251551949086\",\"hpc_skeletoncc\":\"\",\"event_endtime\":\"2013-02-01T00:13:31\",\"event_importance\":null,\"event_coord2\":-901.298000000000002,\"event_coord3\":null,\"event_coord1\":-281.09699999999998,\"search_observatory\":\"SDO\",\"area_raw\":4536900100,\"hgs_skeletoncc\":\"\",\"concept\":\"Coronal
        Hole\",\"event_pixelunit\":\"DN/s\",\"hgc_boundcc\":\"POLYGON((-167.788144
        -65.877064,-168.355932 -65.999371,-139.688868 -64.906479,-130.078298 -62.33686,-123.430282
        -61.773606,-137.380963 -69.308294,-148.238181 -73.330276,-167.402436 -80.372155,-113.803533
        -79.757099,-127.0516 -84.7914,-159.969825 -85.725685,-161.757115 -75.158526,-167.788144
        -65.877064))\",\"hgc_x\":-141.347793,\"hrc_a\":162.678333599314,\"hgc_y\":-70.987778,\"gs_galleryid\":\"\",\"hgs_coord\":\"POINT(-62.241233
        -70.987778)\",\"ar_zurichcls\":\"\",\"bound_ccnsteps\":12,\"intenskurt\":-0.694967000000000001,\"event_clippedtemporal\":\"\",\"rasterscantype\":\"\",\"search_channelid\":\"193\",\"hgs_bbox\":\"POLYGON((-76.371173
        -66.949804,-84.021154 -86.11257,-8.563692 -63.136457,-57.000965 -60.885199,-76.371173
        -66.949804))\",\"area_unit\":\"km2\",\"obs_lastprocessingdate\":\"2013-02-01T00:24:30\",\"refs\":[\n{\n\"ref_name\":
        \"FRM_URL\",\n\"ref_type\": \"unknown\",\n\"ref_url\": \"http://sdoatsidc.oma.be/web/sdoatsidc/SoftwareSPoCA\"\n},{\n\"ref_name\":
        \"OBS_DATAPREPURL\",\n\"ref_type\": \"unknown\",\n\"ref_url\": \"http://sdoatsidc.oma.be/web/sdoatsidc/SoftwareSPoCA\"\n},{\n\"ref_name\":
        \"SSW Context Image\",\n\"ref_type\": \"image\",\n\"ref_url\": \"http://sdowww.lmsal.com/sdomedia/ssw/ssw_client/data/ssw_service_130203_011139_29548/www/ssw_cutout_193_context_full.gif\"\n},{\n\"ref_name\":
        \"SSW Context Thumbnail\",\n\"ref_type\": \"thumbnai[...]
