interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.lmsal.com/hek/her?cosec=2&cmd=search&type=column&event_type=FL&x1=-5000&y1=-5000&x2=5000&y2=5000&event_coordsys=helioprojective&event_starttime=2013-10-28T00%3A00%3A00&event_endtime=2013-10-29T00%3A00%3A00&param0=FL_GOESCls&value0=M1.0&param1=OBS_Observatory&value1=GOES&op0=%3E&op1=%3D&page=1
  response:
    body:
      string: "\n       {\n\"result\":[\n{\n\"gs_thumburl\":\"\",\"comment_count\":\"0\",\"hpc_bbox\":\"POLYGON((16.92036
        -63.6504,16.92036 -63.6504,16.92036 -63.6504,16.92036 -63.6504,16.92036 -63.6504))\",\"frm_humanflag\":\"false\",\"hgc_coord\":\"POINT(31.17064
        4)\",\"event_coordsys\":\"UTC-HGS-TOPO\",\"obs_levelnum\":null,\"hpc_coord\":\"POINT(881.232
        34.6323)\",\"event_npixels\":null,\"gs_imageurl\":\"\",\"ar_polarity\":null,\"frm_paramset\":\"-\",\"hrc_coord\":\"POINT(0.913777793160085
        272.250558318515)\",\"event_starttime\":\"2013-10-28T01:41:00\",\"ar_mtwilsoncls\":\"\",\"event_type\":\"FL\",\"intensmin\":null,\"fl_fluence\":null,\"obs_meanwavel\":4.99999999999999977e-08,\"frm_url\":\"http://www.swpc.noaa.gov/\",\"skel_chaincode\":\"\",\"bound_chaincode\":\"\",\"noposition\":\"false\",\"fl_fluenceunit\":\"\",\"active\":\"true\",\"intensmax\":null,\"frm_versionnumber\":null,\"fl_peaktempunit\":\"\",\"fl_halphaclass\":\"\",\"area_uncert\":null,\"obs_dataprepurl\":\"\",\"hpc_geom\":\"0103000000010000000500000061E5D022DB8988409E5E29CB10AF4EC061E5D022DB89884058A835CD3B54604061E5D022DB898E4058A835CD3B54604061E5D022DB898E409E5E29CB10AF4EC061E5D022DB8988409E5E29CB10AF4EC0\",\"hgc_bbox\":\"POLYGON((-33.82936
        1,-33.82936 1,-33.82936 1,-33.82936 1,-33.82936 1))\",\"intensmedian\":null,\"chaincodetype\":\"\",\"obs_channelid\":\"XRA\",\"event_clippedspatial\":\"\",\"ar_noaaclass\":\"\",\"SOL_standard\":\"SOL2013-10-28T01:41:00L031C086\",\"event_avg_rating\":null,\"eventtype\":\"9\",\"intensunit\":\"\",\"hpc_boundcc\":\"\",\"event_mapurl\":\"\",\"frm_contact\":\"SWPC.Webmaster@noaa.gov\",\"ar_penumbracls\":\"\",\"intensmean\":null,\"bound_ccstartc1\":null,\"frm_name\":\"SWPC\",\"area_atdiskcenter\":null,\"frm_identifier\":\"SWPC\",\"obs_observatory\":\"GOES\",\"event_description\":\"\",\"boundbox_c2ur\":1,\"obs_firstprocessingdate\":\"\",\"boundbox_c2ll\":1,\"frm_institute\":\"U.S.
        Dept. of Commerce, NOAA, Space Weather Prediction Center\",\"hrc_bbox\":\"POLYGON((0.068241
        194.886799,0.068241 194.886799,0.068241 194.886799,0.068241 194.886799,0.068241
        194.886799))\",\"refs_orig\":\"\",\"ar_mcintoshcls\":\"\",\"event_maskurl\":\"\",\"bound_ccstartc2\":null,\"gs_movieurl\":\"\",\"event_score\":\"0.820000000000000062\",\"skel_startc2\":null,\"skel_startc1\":null,\"fl_efoldtime\":null,\"event_expires\":\"\",\"fl_efoldtimeunit\":\"\",\"hrc_boundcc\":\"\",\"event_probability\":null,\"intensvar\":null,\"frm_daterun\":\"2013-10-28T00:00:00\",\"event_coordunit\":\"degrees\",\"hpc_y\":34.6323,\"hpc_x\":881.232,\"search_instrument\":\"GOES\",\"ar_numspots\":null,\"kb_archivdate\":\"2014-01-09T19:09:49\",\"kb_archivist\":\"cheung_mark\",\"intenstotal\":null,\"sum_overlap_scores\":\"0\",\"hgs_boundcc\":\"\",\"intensskew\":null,\"obs_includesnrt\":\"\",\"rasterscan\":\"\",\"obs_wavelunit\":\"cm\",\"kb_archivid\":\"ivo://helio-informatics.org/FL_SECstandard_20131028_043537_20131028014100\",\"search_frm_name\":\"SWPC\",\"boundbox_c1ur\":1,\"ar_noaanum\":11875,\"area_atdiskcenteruncert\":null,\"boundbox_c1ll\":1,\"event_importance_num_ratings\":\"\",\"ar_compactnesscls\":\"\",\"skel_curvature\":null,\"event_testflag\":\"false\",\"event_c2error\":1,\"hrc_r\":0.913777793160085,\"skel_nsteps\":null,\"hgs_y\":4,\"obs_title\":\"\",\"fl_peakemunit\":\"\",\"hgs_x\":66,\"hcr_checked\":\"true\",\"frm_specificid\":\"\",\"event_title\":\"\",\"obs_instrument\":\"GOES\",\"event_c1error\":1,\"revision\":\"2\",\"hpc_radius\":\"881.912259823668705\",\"event_endtime\":\"2013-10-28T02:12:00\",\"event_importance\":null,\"event_coord2\":4,\"event_coord3\":null,\"event_coord1\":66,\"search_observatory\":\"GOES\",\"area_raw\":null,\"concept\":\"Flare\",\"event_pixelunit\":\"\",\"hgc_boundcc\":\"\",\"fl_peakflux\":null,\"hgc_x\":31.17064,\"hrc_a\":272.250558318515,\"event_peaktime\":\"2013-10-28T02:03:00\",\"hgc_y\":4,\"gs_galleryid\":\"\",\"fl_goescls\":\"X1.0\",\"hgs_coord\":\"POINT(66
        4)\",\"ar_zurichcls\":\"\",\"bound_ccnsteps\":null,\"intenskurt\":null,\"event_clippedtemporal\":\"\",\"fl_peakfluxunit\":\"\",\"fl_peakem\":null,\"rasterscantype\":\"\",\"search_channelid\":\"XRA\",\"fl_peaktemp\":null,\"hgs_bbox\":\"POLYGON((1
        1,1 1,1 1,1 1,1 1))\",\"area_unit\":\"\",\"obs_lastprocessingdate\":\"\",\"refs\":[\n{\n\"ref_name\":
        \"FRM_URL\",\n\"ref_type\": \"unknown\",\n\"ref_url\": \"http://www.swpc.noaa.gov/\"\n}]\n},{\n\"gs_thumburl\":\"\",\"comment_count\":\"0\",\"hpc_bbox\":\"POLYGON((16.9209
        -63.4614,16.9209 -63.4614,16.9209 -63.4614,16.9209 -63.4614,16.9209 -63.4614))\",\"frm_humanflag\":\"false\",\"hgc_coord\":\"POINT(34.60465
        8)\",\"event_coordsys\":\"UTC-HGS-TOPO\",\"obs_levelnum\":null,\"hpc_coord\":\"POINT(905.106
        108.2472)\",\"event_npixels\":null,\"gs_imageurl\":\"\",\"ar_polarity\":null,\"frm_paramset\":\"-\",\"hrc_coord\":\"POINT(0.9[...]
