interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.lmsal.com/hek/her?cosec=2&cmd=search&type=column&event_type=FL&x1=-5000&y1=-5000&x2=5000&y2=5000&event_coordsys=helioprojective&event_starttime=2011-08-09T07%3A23%3A56&event_endtime=2011-08-09T12%3A40%3A29&page=1
  response:
    body:
      string: "\n       {\n\"result\":[\n{\n\"gs_thumburl\":\"http://www.lmsal.com/hek/gallery/podimages/2011/08/11/pod_sainz%2Bdalda_alberto_2011-08-11T17%3A26%3A07.457/thumb/panorama_asainz_AIA-211_HMI-6173_20110808T222504_at_20110811T172017.jpg\",\"comment_count\":\"0\",\"hpc_bbox\":\"POLYGON((-470
        -174,573 -174,573 476,-470 476,-470 -174))\",\"frm_humanflag\":\"true\",\"hgc_coord\":\"POINT(-113.8074292
        15.364686)\",\"event_coordsys\":\"UTC-HPC-TOPO\",\"obs_levelnum\":null,\"hpc_coord\":\"POINT(51
        151)\",\"event_npixels\":null,\"gs_imageurl\":\"http://www.lmsal.com/hek/gallery/podimages/2011/08/11/pod_sainz%2Bdalda_alberto_2011-08-11T17%3A26%3A07.457/panorama_asainz_AIA-211_HMI-6173_20110808T222504_at_20110811T172017.jpg\",\"ar_polarity\":null,\"frm_paramset\":\"n/a\",\"hrc_coord\":\"POINT(0.168543050299641
        341.337688166087)\",\"event_starttime\":\"2011-08-08T01:30:04\",\"ar_mtwilsoncls\":\"\",\"event_type\":\"FL\",\"intensmin\":null,\"fl_fluence\":null,\"obs_meanwavel\":6.17299999999999934e-05,\"frm_url\":\"n/a\",\"skel_chaincode\":\"\",\"bound_chaincode\":\"\",\"noposition\":\"false\",\"fl_fluenceunit\":\"\",\"active\":\"true\",\"intensmax\":null,\"frm_versionnumber\":null,\"fl_peaktempunit\":\"\",\"fl_halphaclass\":\"\",\"area_uncert\":null,\"obs_dataprepurl\":\"\",\"hpc_geom\":\"010300000001000000050000000000000000607DC00000000000C065C00000000000E881400000000000C065C00000000000E881400000000000C07D400000000000607DC00000000000C07D400000000000607DC00000000000C065C0\",\"hgc_bbox\":\"POLYGON((-146.807764
        -5.167838,-79.64706 -5.630367,-69.862234 34.479115,-154.290862 35.148002,-146.807764
        -5.167838))\",\"intensmedian\":null,\"chaincodetype\":\"\",\"obs_channelid\":\"6173\",\"event_clippedspatial\":\"\",\"ar_noaaclass\":\"\",\"SOL_standard\":\"SOL2011-08-08T01:30:04L247C075\",\"event_avg_rating\":0.8,\"eventtype\":\"9\",\"intensunit\":\"\",\"hpc_boundcc\":\"\",\"event_mapurl\":\"\",\"frm_contact\":\"Scott
        Green\",\"ar_penumbracls\":\"\",\"intensmean\":null,\"bound_ccstartc1\":null,\"frm_name\":\"asainz\",\"area_atdiskcenter\":null,\"frm_identifier\":\"Annotator-build_20110621-avc\",\"obs_observatory\":\"SDO\",\"event_description\":\"Small
        flare in the lower pat of the AR. Few instants before, a coronal shock wave
        appears from the right part of the image.\",\"boundbox_c2ur\":476,\"obs_firstprocessingdate\":\"\",\"boundbox_c2ll\":-174,\"frm_institute\":\"LMSAL\",\"hrc_bbox\":\"POLYGON((0.529988
        110.315196,0.633264 253.108304,0.787746 309.716939,0.707395 44.636607,0.529988
        110.315196))\",\"refs_orig\":\"\",\"ar_mcintoshcls\":\"\",\"event_maskurl\":\"\",\"bound_ccstartc2\":null,\"gs_movieurl\":\"http://sdowww.lmsal.com/sdomedia/h264/2011/08/08/AVC_AlbertoSainzDalda_20110808T013004-20110810T000004_SDO_211-6173_300.0_20110811_172601.mov\",\"event_score\":\"\",\"skel_startc2\":null,\"skel_startc1\":null,\"fl_efoldtime\":null,\"event_expires\":\"\",\"fl_efoldtimeunit\":\"\",\"hrc_boundcc\":\"\",\"event_probability\":null,\"intensvar\":null,\"frm_daterun\":\"2011-08-11T17:26:01\",\"event_coordunit\":\"arcsec\",\"hpc_y\":151,\"hpc_x\":51,\"search_instrument\":\"HMI\",\"ar_numspots\":null,\"kb_archivdate\":\"2011-08-11T17:26:24\",\"kb_archivist\":\"sainzdalda_alberto\",\"intenstotal\":null,\"sum_overlap_scores\":\"12.588887041198964\",\"hgs_boundcc\":\"\",\"intensskew\":null,\"obs_includesnrt\":\"\",\"rasterscan\":\"\",\"obs_wavelunit\":\"cm\",\"kb_archivid\":\"ivo://helio-informatics.org/FL6173_AlbertoSainzDalda_20110811_172601\",\"search_frm_name\":\"Human
        Annotation\",\"boundbox_c1ur\":573,\"ar_noaanum\":null,\"area_atdiskcenteruncert\":null,\"boundbox_c1ll\":-470,\"event_importance_num_ratings\":\"1\",\"ar_compactnesscls\":\"\",\"skel_curvature\":null,\"event_testflag\":\"false\",\"event_c2error\":324.899999999999977,\"hrc_r\":0.168543050299641,\"skel_nsteps\":null,\"hgs_y\":15.364686,\"obs_title\":\"\",\"fl_peakemunit\":\"\",\"hgs_x\":3.1917608,\"hcr_checked\":\"true\",\"frm_specificid\":\"\",\"event_title\":\"Small
        flare in AR\",\"obs_instrument\":\"HMI\",\"event_c1error\":521.5,\"revision\":\"1\",\"hpc_radius\":\"159.380048939633582\",\"event_endtime\":\"2011-08-10T00:00:04\",\"event_importance\":0.800000000000000044,\"event_coord2\":151,\"event_coord3\":null,\"event_coord1\":51,\"search_observatory\":\"SDO\",\"area_raw\":null,\"concept\":\"Flare\",\"event_pixelunit\":\"\",\"hgc_boundcc\":\"\",\"fl_peakflux\":null,\"hgc_x\":-113.8074292,\"hrc_a\":341.337688166087,\"event_peaktime\":\"2011-08-09T11:55:00\",\"hgc_y\":15.364686,\"gs_galleryid\":\"pod_sainz+dalda_alberto_2011-08-11T17:26:07.457\",\"fl_goescls\":\"\",\"hgs_coord\":\"POINT(3.1917608
        15.364686)\",\"ar_zurichcls\":\"\",\"bound_ccnsteps\":null,\"intenskurt\":null,\"event_clippedtemporal\":\"\",\"fl_peakfluxunit\":\"\",\"fl_peakem\":null,\"rasterscantype\":\"\",\"search_channelid\":\"BLOS\",\"fl_peaktemp\":null,\"hgs_bbox\":\"POLYGON((-29.808574
        -5.167838,37.35213 -5.630367,47.136956 34.479115,-37.291672 35.148002,-29.808574
        -5.167838))\",\"area_unit\":\"\",\"obs_lastprocessingdate\":\"\",\"refs\":[\n{\n\"ref_name\":
        \"FL:  HER Entry\",\n\"ref_type\": \"ivorn\",\n\"ref_url\": \"ivo://helio-informatics.org/FL211_AlbertoSainzDalda_20110811_172601\"\n},{\n\"ref_name\":
        \"Movie\",\n\"ref_type\": \"movie\",\n\"ref_url\": \"http://sdowww.lmsal.com/sdomedia/h264/2011/08/08/AVC_AlbertoSainzDalda_20110808T013004-20110810T000004_SDO_211-6173_300.0_20110811_172601.mov\"\n},{\n\"ref_name\":
        \"Event_MapURL\",\n\"ref_type\": \"unknown\",\n\"ref_url\": \"\"\n},{\n\"ref_name\":
        \"FRM_URL\",\n\"ref_type\": \"unknown\",\n\"ref_url\": \"n/a\"\n}]\n},{\n\"gs_thu[...]
