interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://www.bbso.njit.edu/pub/archive/2016/05/18/
  response:
    body:
      string: "<HTML>\n<HEAD>\n<TITLE>BBSO FTP Data Archive - 20160518</TITLE>\n<BODY
        BGCOLOR=#ffffff>\n<TABLE BGCOLOR=gray WIDTH=100%>\n<TR><TD ALIGN=right WIDTH=30%></TD>\n
        \   <TD ALIGN=right WIDTH=70%>\n    <A NAME=\"#TOP\"><FONT SIZE=7 COLOR=white><B>BBSO
        FTP Data Archive - 20160518</B></FONT></A></TD>\n</TR>\n</TABLE>\n<P><HR ALIGN=center
        SIZE=2>\n<TABLE WIDTH=100%>\n<TR><TD ALIGN=left  WIDTH=30%>\n<A HREF=\"http://www.bbso.njit.edu/pub/archive/2016/05/17\">Previous
        Day</A></TD>\n<TD ALIGN=center  WIDTH=30%>\n<A HREF=\"http://www.solarmonitor.org/index.php?date=20160518\"
        TARGET=\"new_winz\">\nActive Region Monitor</A></TD>\n    <TD ALIGN=right
        WIDTH=30%>\n<A HREF=\"http://www.bbso.njit.edu/pub/archive/2016/05/19\">Next
        Day</A></TD>\n</TR>\n</TABLE>\n<CENTER>\n<A HREF=\"#GHN\">GHN Images</A> |\n<A
        HREF=\"#GONG\">GONG Images</A> |\n<A HREF=\"/pub/archive/2016/05/18/bbso_logs_20160518.html\"
        TARGET=\"new_winz\">\nBBSO Observing Log |</A>\n<A HREF=\"#cats\">Catalogs</A>
        |\n<P><HR ALIGN=center SIZE=2>\n<P>\n<A NAME=\"GHN\"><FONT SIZE=4><B>Daily
        Images from Global Halpha Network</B></FONT></A>\n<TABLE>\n<TR>\n<TD ALIGN=\"center\">\n<A
        HREF=\"/pub/archive/2016/05/18/bbso_halph_fl_20160518_172714.jpg\">\n<IMG
        SRC=\"/pub/archive/2016/05/18/icons/bbso_halph_fl_20160518_172714.png\" WIDTH=\"100\"
        HEIGHT=\"100\"></A>\n<BR>20160518_172714</TD>\n<TD ALIGN=\"center\">\n<A HREF=\"/pub/archive/2016/05/18/bbso_halph_fl_20160518_204439.jpg\">\n<IMG
        SRC=\"/pub/archive/2016/05/18/icons/bbso_halph_fl_20160518_204439.png\" WIDTH=\"100\"
        HEIGHT=\"100\"></A>\n<BR>20160518_204439</TD>\n<TD ALIGN=\"center\">\n<A HREF=\"/pub/archive/2016/05/18/bbso_halph_fr_20160518_172714.jpg\">\n<IMG
        SRC=\"/pub/archive/2016/05/18/icons/bbso_halph_fr_20160518_172714.png\" WIDTH=\"100\"
        HEIGHT=\"100\"></A>\n<BR>20[...]
