skip-check: &skip-check
  name: Check for [ci skip]
  command: bash .circleci/early_exit.sh

apt-run: &apt-install
  name: Install apt packages
  command: |
    apt update
    apt install -y graphviz build-essential

docs-install: &docs-install
  name: Install Python dependencies
  command: |
    pip install -r requirements/docs.txt

image-conda-run: &image-conda-install
  name: Install Python dependencies for figure tests
  command: |
    conda env create -f sunpy/tests/figure_tests_env_py36.yml

image-run: &image-tests
  name: Run image tests
  command: |
    conda env list
    source activate sunpy-figure-tests-3.6
    python setup.py test --figure-only --coverage
    pip install codecov
    codecov

version: 2
jobs:
  egg-info-36:
    docker:
      - image: circleci/python:3.6
    steps:
      - checkout
      - run: python setup.py egg_info

  figure-tests-36:
    docker:
      - image: continuumio/miniconda3
    steps:
      - checkout
      - run: *skip-check
      - run: *apt-install
      - run: *image-conda-install
      - run: *image-tests
      - store_artifacts:
          path: figure_test_images
      - run:
          name: "Image comparison page is available at:"
          command: FIGS_URL="${CIRCLE_BUILD_URL}/artifacts/${CIRCLE_NODE_INDEX}/${CIRCLE_WORKING_DIRECTORY/#\~/$HOME}/figure_test_images/fig_comparison.html"; echo $FIGS_URL


  html-docs:
    docker:
      - image: continuumio/miniconda3
    steps:
      - restore_cache:
          keys: sample-data-v1

      - checkout
      - run: *skip-check
      - run: *apt-install
      - run: *docs-install
      - run: python setup.py build_docs -w
      - store_artifacts:
          path: docs/_build/html

      - run:
          name: "Built documentation is available at:"
          command: DOCS_URL="${CIRCLE_BUILD_URL}/artifacts/${CIRCLE_NODE_INDEX}/${CIRCLE_WORKING_DIRECTORY/#\~/$HOME}/docs/_build/html/index.html"; echo $DOCS_URL

      - save_cache:
          key: sample-data-v1
          paths:
            - ~/sunpy/data/sample_data


workflows:
  version: 2

  egg-info:
    jobs:
      - egg-info-36

  figure-tests:
    jobs:
      - figure-tests-36

  test-documentation:
    jobs:
      - html-docs


notify:
  webhooks:
    - url: https://giles.cadair.com/circleci
