skip-check: &skip-check
  name: Check for [ci skip]
  command: bash .circleci/early_exit.sh

merge-check: &merge-check
  name: Check if we need to merge upstream master
  command: |
    if [[ -n "${CIRCLE_PR_NUMBER}" ]]; then
      git fetch origin +refs/pull/$CIRCLE_PR_NUMBER/merge:pr/$CIRCLE_PR_NUMBER/merge
      git checkout -qf pr/$CIRCLE_PR_NUMBER/merge
    fi

apt-run: &apt-install
  name: Install apt packages
  command: |
    apt update
    apt install -y graphviz build-essential libopenjp2-7

tox-install: &tox-install
  name: Install Tox
  command: |
    pip install tox
    pip install tox-conda

image-run: &image-tests
  name: Run image tests
  environment:
    MPLBACKEND: Agg
  command: |
    tox -e figure
    pip install codecov
    codecov

version: 2
jobs:
  egg-info-36:
    docker:
      - image: circleci/python:3.6
    steps:
      - checkout
      - run: *skip-check
      - run: *merge-check
      - run: python setup.py egg_info

  egg-info-37:
    docker:
      - image: circleci/python:3.7
    steps:
      - checkout
      - run: *skip-check
      - run: *merge-check
      - run: python setup.py egg_info

  pip-install:
    docker:
      - image: continuumio/miniconda3
    steps:
      - checkout
      - run: *skip-check
      - run: *merge-check
      - run: *apt-install
      - run:
          name: Update pip
          command: pip install -U pip
      - run:
          name: Install SunPy
          command: pip install --progress-bar off -e .[all,dev]

  32bit:
    docker:
      - image: i386/ubuntu:latest
    steps:
      - restore_cache:
          keys: sample-data-v1

      - checkout
      - run: *skip-check
      - run:
          name: apt dependencies
          command: |
            export DEBIAN_FRONTEND="noninteractive"
            apt-get update
            apt-get install -y libfreetype6 libfreetype6-dev libpng-dev tk pkg-config python3-pip git openssh-client
      - run:
          name: Install dependencies one
          # Cat here to suppress the progress bar
          command: pip3 install cython numpy scipy astropy matplotlib asdf | cat
      - run:
          name: Install dependencies two
          # Cat here to suppress the progress bar
          command: pip3 install sqlalchemy scikit-image glymur drms zeep beautifulsoup4 requests python-dateutil pytest pytest-cov pytest-mock pytest-xdist hypothesis pytest-astropy pytest-rerunfailures | cat
      - run:
          name: Run tests
          command: PYTHONHASHSEED=42 python3 setup.py test --parallel=4
    environment:
          MPLBACKEND: agg
          COLUMNS: 180

  figure-tests-36:
    docker:
      - image: continuumio/miniconda3
    steps:
      - checkout
      - run: *skip-check
      - run: *merge-check
      - run: *apt-install
      - run: *tox-install
      - run: *image-tests
      - store_artifacts:
          path: figure_test_images
      - run:
          name: "Image comparison page is available at:"
          command: FIGS_URL="${CIRCLE_BUILD_URL}/artifacts/${CIRCLE_NODE_INDEX}/${CIRCLE_WORKING_DIRECTORY/#\~/$HOME}/figure_test_images/fig_comparison.html"; echo $FIGS_URL

  html-docs:
    docker:
      - image: continuumio/miniconda3
    steps:
      - restore_cache:
          keys: sample-data-v1

      - checkout
      - run: *skip-check
      - run: *merge-check
      - run: *apt-install
      - run: *tox-install
      - run: tox -e build_docs
      - store_artifacts:
          path: docs/_build/html

      - run:
          name: "Built documentation is available at:"
          command: DOCS_URL="${CIRCLE_BUILD_URL}/artifacts/${CIRCLE_NODE_INDEX}/${CIRCLE_WORKING_DIRECTORY/#\~/$HOME}/docs/_build/html/index.html"; echo $DOCS_URL

      - save_cache:
          key: sample-data-v1
          paths:
            - ~/sunpy/data/sample_data

workflows:
  version: 2

  egg-info:
    jobs:
      - egg-info-36
      - egg-info-37

  pip-install:
    jobs:
      - pip-install

  build-32:
    jobs:
      - 32bit

  figure-tests:
    jobs:
      - figure-tests-36

  test-documentation:
    jobs:
      - html-docs

notify:
  webhooks:
    - url: https://giles.cadair.com/circleci
