skip-check: &skip-check
  name: Check for [ci skip]
  command: bash .circleci/early_exit.sh

merge-check: &merge-check
  name: Check if we need to merge upstream master
  command: |
    if [[ -n "${CIRCLE_PR_NUMBER}" ]]; then
      git fetch origin +refs/pull/$CIRCLE_PR_NUMBER/merge:pr/$CIRCLE_PR_NUMBER/merge
      git checkout -qf pr/$CIRCLE_PR_NUMBER/merge
    fi

apt-run: &apt-install
  name: Install apt packages
  command: |
    apt update
    apt install -y graphviz build-essential

tox-install: &tox-install
  name: Install Tox
  command: |
    pip install tox
    pip install tox-conda

image-run: &image-tests
  name: Run image tests
  environment:
    MPLBACKEND: Agg
  command: |
    tox -e figure
    pip install codecov
    codecov

version: 2
jobs:
  egg-info-36:
    docker:
      - image: circleci/python:3.6
    steps:
      - checkout
      - run: *skip-check
      - run: *merge-check
      - run: python setup.py egg_info

  egg-info-37:
    docker:
      - image: circleci/python:3.7
    steps:
      - checkout
      - run: *skip-check
      - run: *merge-check
      - run: python setup.py egg_info

  pip:
    docker:
      - image: continuumio/miniconda3
    steps:
      - restore_cache:
          keys: sample-data-v1

      - checkout
      - run: *skip-check
      - run: *merge-check
      - run: *apt-install
      - run:
          name: Install dependencies
          command: pip install --progress-bar off -e .[all]
      - run:
          name: Run tests
          command: PYTHONHASHSEED=42 pytest -m "not figure" -n 4

    environment:
          MPLBACKEND: agg
          COLUMNS: 180

  32bit:
    docker:
      - image: quay.io/pypa/manylinux1_i686
    steps:
      - restore_cache:
          keys: sample-data-v1

      - checkout
      - run: *skip-check
      - run: *merge-check
      - run:
          name: yum dependencies
          command: yum install -y freetype freetype-devel libpng-devel tk
      - run:
          name: Install dependencies one
          command: /opt/python/cp36-cp36m/bin/pip install --progress-bar off numpy!=1.15.4 scipy astropy!=3.1.1 matplotlib==1.5.3
      - run:
          name: Install dependencies two
          command: /opt/python/cp36-cp36m/bin/pip install --progress-bar off sqlalchemy scikit-image==0.13.1 glymur drms zeep beautifulsoup4 requests python-dateutil pytest pytest-cov pytest-mock pytest-xdist mock hypothesis pytest-astropy pytest-rerunfailures
      - run:
          name: Run tests
          command: PYTHONHASHSEED=42 /opt/python/cp36-cp36m/bin/python setup.py test --parallel=4
    environment:
          MPLBACKEND: agg
          COLUMNS: 180

  figure-tests-36:
    docker:
      - image: continuumio/miniconda3
    steps:
      - checkout
      - run: *skip-check
      - run: *merge-check
      - run: *apt-install
      - run: *tox-install
      - run: *image-tests
      - store_artifacts:
          path: figure_test_images
      - run:
          name: "Image comparison page is available at:"
          command: FIGS_URL="${CIRCLE_BUILD_URL}/artifacts/${CIRCLE_NODE_INDEX}/${CIRCLE_WORKING_DIRECTORY/#\~/$HOME}/figure_test_images/fig_comparison.html"; echo $FIGS_URL

  html-docs:
    docker:
      - image: continuumio/miniconda3
    steps:
      - restore_cache:
          keys: sample-data-v1

      - checkout
      - run: *skip-check
      - run: *merge-check
      - run: *apt-install
      - run: *tox-install
      - run: tox -e py37-build_docs
      - store_artifacts:
          path: docs/_build/html

      - run:
          name: "Built documentation is available at:"
          command: DOCS_URL="${CIRCLE_BUILD_URL}/artifacts/${CIRCLE_NODE_INDEX}/${CIRCLE_WORKING_DIRECTORY/#\~/$HOME}/docs/_build/html/index.html"; echo $DOCS_URL

      - save_cache:
          key: sample-data-v1
          paths:
            - ~/sunpy/data/sample_data

workflows:
  version: 2

  egg-info:
    jobs:
      - egg-info-36
      - egg-info-37

  pip-test:
    jobs:
      - pip

  build-32:
    jobs:
      - 32bit

  figure-tests:
    jobs:
      - figure-tests-36

  test-documentation:
    jobs:
      - html-docs

notify:
  webhooks:
    - url: https://giles.cadair.com/circleci
