interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://umbra.nascom.nasa.gov/goes/fits/2013/
  response:
    body:
      string: "<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 3.2 Final//EN\">\n<html>\n
        <head>\n  <title>Index of /goes/fits/2013</title>\n </head>\n <body>\n<h1>Index
        of /goes/fits/2013</h1>\n  <table>\n   <tr><th valign=\"top\"><img src=\"/icons/blank.gif\"
        alt=\"[ICO]\"></th><th><a href=\"?C=N;O=D\">Name</a></th><th><a href=\"?C=M;O=A\">Last
        modified</a></th><th><a href=\"?C=S;O=A\">Size</a></th><th><a href=\"?C=D;O=A\">Description</a></th></tr>\n
        \  <tr><th colspan=\"5\"><hr></th></tr>\n<tr><td valign=\"top\"><img src=\"/icons/back.gif\"
        alt=\"[PARENTDIR]\"></td><td><a href=\"/goes/fits/\">Parent Directory</a>
        \      </td><td>&nbsp;</td><td align=\"right\">  - </td><td>&nbsp;</td></tr>\n<tr><td
        valign=\"top\"><img src=\"/icons/image2.gif\" alt=\"[IMG]\"></td><td><a href=\"go1520130101.fits\">go1520130101.fits</a>
        \     </td><td align=\"right\">2013-01-06 15:15  </td><td align=\"right\">678K</td><td>&nbsp;</td></tr>\n<tr><td
        valign=\"top\"><img sr[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://docs.virtualsolar.org/WSDL/VSOi_rpc_literal.wsdl
  response:
    body:
      string: '<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">

        <html><head>

        <title>307 Temporary Redirect</title>

        </head><body>

        <h1>Temporary Redirect</h1>

        <p>The document has moved <a href="http://netdrms01.nispdc.nso.edu/VSO/WSDL/VSOi_rpc_literal.wsdl">here</a>.</p>

        <hr>

        <address>Apache/2.2.15 (CentOS) Server at docs.virtualsolar.org Port 80</address>

        </body></html>

        '
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
      Location:
      - http://netdrms01.nispdc.nso.edu/VSO/WSDL/VSOi_rpc_literal.wsdl
    status:
      code: 307
      message: Temporary Redirect
- request:
    body: null
    headers:
    method: GET
    uri: http://netdrms01.nispdc.nso.edu/VSO/WSDL/VSOi_rpc_literal.wsdl
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"no\"?>\n\n<wsdl:definitions
        xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\"\n\txmlns:VSO=\"http://virtualsolar.org/VSO/VSOi\"
        \n\txmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\"\n\txmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        \n\tname=\"VSO\"\n\ttargetNamespace=\"http://virtualsolar.org/VSO/VSOi\">\n\t<wsdl:types>\n\n\t\t<xsd:schema
        elementFormDefault=\"unqualified\"\n\t\t\ttargetNamespace=\"http://virtualsolar.org/VSO/VSOi\">\n\n\t\t\t<!--
        for VSO \"Query\" function -->\n\n\t\t\t<xsd:complexType name=\"QueryRequest\">\n\t\t\t\t<xsd:all>\n\t\t\t\t\t<xsd:element
        name=\"version\" type=\"xsd:float\" minOccurs=\"0\" />\n\t\t\t\t\t<xsd:element
        name=\"block\" type=\"VSO:QueryRequestBlock\" \n\t\t\t\t\tminOccurs=\"1\"
        maxOccurs=\"1\" />\n\t\t\t\t</xsd:all>\n\t\t\t</xsd:complexType>\n\n\t\t\t<xsd:complexType
        name=\"QueryRequestBlock\">\n\t\t\t\t<xsd:all>\n\t\t\t\t\t<xsd:element name=\"time\"
        type=\"VSO:Time\" minOccurs=\"1\" />\n\t\t\t\t\t<xsd:element name=\"provider\"
        type=\"xsd:string\" minOccurs=\"0\" />\n\t\t\t\t\t<xsd:element name=\"source\"
        type=\"xsd:string\" minOccurs=\"0\" />\n\t\t\t\t\t<xsd:element name=\"instrument\"
        type=\"xsd:string\" minOccurs=\"0\" />\n\t\t\t\t\t<xsd:element name=\"physobs\"
        type=\"xsd:string\" minOccurs=\"0\" />\t\t\n\t\t\t\t\t<xsd:element name=\"wave\"
        type=\"VSO:Wave\" minOccurs=\"0\" />[...]
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://schemas.xmlsoap.org/soap/envelope/"
      xmlns:VSO="http://virtualsolar.org/VSO/VSOi"><soap-env:Body><VSO:Query><body><block><time><start>20131028000000</start><end>20131029000000</end></time><provider>SDAC</provider><instrument>XRS</instrument></block></body></VSO:Query></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      SOAPAction:
      - '"http://virtualsolar.org/VSO/VSOi#Query"'
    method: POST
    uri: http://vso.nso.edu/cgi-bin/VSO/PROD/vsoi_wsdl.cgi
  response:
    body:
      string: <?xml version="1.0" encoding="UTF-8"?><soap:Envelope xmlns:VSO="http://virtualsolar.org/VSO/VSOi"
        xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soap:Body><VSO:QueryResponse><body><s-gensym3><version>0.8</version><error>VSO-V300
        Empty Request - No match found in VSO Registry for search critera</error></s-gensym3></body></VSO:QueryResponse></soap:Body></soap:Envelope>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      SOAPServer:
      - SOAP::Lite/Perl/1.27
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://satdat.ngdc.noaa.gov/sem/goes/data/science/xrs/goes13/gxrs-l2-irrad_science/2013/10/
  response:
    body:
      string: "<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 3.2 Final//EN\">\n<html>\n
        <head>\n  <title>Index of /sem/goes/data/science/xrs/goes13/gxrs-l2-irrad_science/2013/10</title>\n
        </head>\n <body>\n<!-- BEGIN HEADER  -->\r\n<!DOCTYPE html PUBLIC \"-//W3C//DTD
        XHTML 1.0 Transitional//EN\"\"https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\">\r\n<html
        xmlns=\"https://www.w3.org/1999/xhtml\">\r\n<head>\r\n  <title>Direct Access
        to GOES and POES Data | NCEI</title>\r\n  <link rel=\"stylesheet\" type=\"text/css\"
        href=\"https://www.ngdc.noaa.gov/ngdcbasicstyle.css\" title=\"default\"/>\r\n
        \ <link rel=\"stylesheet\" type=\"text/css\" href=\"https://www.ngdc.noaa.gov/stp/stpbasicstyle.css\"
        title=\"default\"/>\r\n  <link rel=\"shortcut icon\" href=\"https://www.ngdc.noaa.gov/favicon.ico\"/>\r\n
        \ <meta http-equiv=\"Content-Type\" content=\"text/html; charset=utf-8\"/>\r\n
        \ <meta name=\"operator\" content=\"ncei.info\"/>\r\n  <meta name=\"questions\"
        content=\"ncei.info\"/>\r\n  <meta name=\"return\" content=\"space\"/>\r\n
        \ <meta name=\"DC.title\" content=\"Solar and Terrestrial Physics\"/>\r\n
        \ <meta name=\"DC.creator\" content=\"National Geophysical Data Center\"/>\r\n
        \ <meta name=\"DC.date.created\" scheme=\"ISO8601\" content=\"2009-09-16\"/>\r\n
[...]
[...]
