interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://umbra.nascom.nasa.gov/goes/fits/1995/
  response:
    body:
      string: "<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 3.2 Final//EN\">\n<html>\n
        <head>\n  <title>Index of /goes/fits/1995</title>\n </head>\n <body>\n<h1>Index
        of /goes/fits/1995</h1>\n  <table>\n   <tr><th valign=\"top\"><img src=\"/icons/blank.gif\"
        alt=\"[ICO]\"></th><th><a href=\"?C=N;O=D\">Name</a></th><th><a href=\"?C=M;O=A\">Last
        modified</a></th><th><a href=\"?C=S;O=A\">Size</a></th><th><a href=\"?C=D;O=A\">Description</a></th></tr>\n
        \  <tr><th colspan=\"5\"><hr></th></tr>\n<tr><td valign=\"top\"><img src=\"/icons/back.gif\"
        alt=\"[PARENTDIR]\"></td><td><a href=\"/goes/fits/\">Parent Directory</a>
        \      </td><td>&nbsp;</td><td align=\"right\">  - </td><td>&nbsp;</td></tr>\n<tr><td
        valign=\"top\"><img src=\"/icons/image2.gif\" alt=\"[IMG]\"></td><td><a href=\"go07950101.fits\">go07950101.fits</a>
        \       </td><td align=\"right\">1995-04-20 16:03  </td><td align=\"right\">346K</td><td>&nbsp;</td></tr>\n<tr><td
        valign=\"top\"><img src=[...]
