interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://umbra.nascom.nasa.gov/goes/fits/2009/
  response:
    body:
      string: "<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 3.2 Final//EN\">\n<html>\n
        <head>\n  <title>Index of /goes/fits/2009</title>\n </head>\n <body>\n<h1>Index
        of /goes/fits/2009</h1>\n  <table>\n   <tr><th valign=\"top\"><img src=\"/icons/blank.gif\"
        alt=\"[ICO]\"></th><th><a href=\"?C=N;O=D\">Name</a></th><th><a href=\"?C=M;O=A\">Last
        modified</a></th><th><a href=\"?C=S;O=A\">Size</a></th><th><a href=\"?C=D;O=A\">Description</a></th></tr>\n
        \  <tr><th colspan=\"5\"><hr></th></tr>\n<tr><td valign=\"top\"><img src=\"/icons/back.gif\"
        alt=\"[PARENTDIR]\"></td><td><a href=\"/goes/fits/\">Parent Directory</a>
        \      </td><td>&nbsp;</td><td align=\"right\">  - </td><td>&nbsp;</td></tr>\n<tr><td
        valign=\"top\"><img src=\"/icons/image2.gif\" alt=\"[IMG]\"></td><td><a href=\"go1020090101.fits\">go1020090101.fits</a>
        \     </td><td align=\"right\">2011-05-23 17:58  </td><td align=\"right\">467K</td><td>&nbsp;</td></tr>\n<tr><td
        valign=\"top\"><img sr[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://satdat.ngdc.noaa.gov/sem/goes/data/science/xrs/goes13/gxrs-l2-irrad_science/2009/09/
  response:
    body:
      string: '<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">

        <html><head>

        <title>404 Not Found</title>

        </head><body>

        <h1>Not Found</h1>

        <p>The requested URL /sem/goes/data/science/xrs/goes13/gxrs-l2-irrad_science/2009/09/
        was not found on this server.</p>

        <hr>

        <address>Apache Server at <a href="mailto:ngdc.linux-admin@noaa.gov">satdat-vip.ngdc.noaa.gov</a>
        Port 443</address>

        </body></html>

        '
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://satdat.ngdc.noaa.gov/sem/goes/data/science/xrs/goes14/gxrs-l2-irrad_science/2009/09/
  response:
    body:
      string: "<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 3.2 Final//EN\">\n<html>\n
        <head>\n  <title>Index of /sem/goes/data/science/xrs/goes14/gxrs-l2-irrad_science/2009/09</title>\n
        </head>\n <body>\n<!-- BEGIN HEADER  -->\r\n<!DOCTYPE html PUBLIC \"-//W3C//DTD
        XHTML 1.0 Transitional//EN\"\"https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\">\r\n<html
        xmlns=\"https://www.w3.org/1999/xhtml\">\r\n<head>\r\n  <title>Direct Access
        to GOES and POES Data | NCEI</title>\r\n  <link rel=\"stylesheet\" type=\"text/css\"
        href=\"https://www.ngdc.noaa.gov/ngdcbasicstyle.css\" title=\"default\"/>\r\n
        \ <link rel=\"stylesheet\" type=\"text/css\" href=\"https://www.ngdc.noaa.gov/stp/stpbasicstyle.css\"
        title=\"default\"/>\r\n  <link rel=\"shortcut icon\" href=\"https://www.ngdc.noaa.gov/favicon.ico\"/>\r\n
        \ <meta http-equiv=\"Content-Type\" content=\"text/html; charset=utf-8\"/>\r\n
        \ <meta name=\"operator\" content=\"ncei.info\"/>\r\n  <meta name=\"questions\"
        content=\"ncei.info\"/>\r\n  <meta name=\"return\" content=\"space\"/>\r\n
        \ <meta name=\"DC.title\" content=\"Solar and Terrestrial Physics\"/>\r\n
        \ <meta name=\"DC.creator\" content=\"National Geophysical Data Center\"/>\r\n
        \ <meta name=\"DC.date.created\" scheme=\"ISO8601\" content=\"2009-09-16\"/>\r\n
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://satdat.ngdc.noaa.gov/sem/goes/data/science/xrs/goes15/gxrs-l2-irrad_science/2009/09/
  response:
    body:
      string: '<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">

        <html><head>

        <title>404 Not Found</title>

        </head><body>

        <h1>Not Found</h1>

        <p>The requested URL /sem/goes/data/science/xrs/goes15/gxrs-l2-irrad_science/2009/09/
        was not found on this server.</p>

        <hr>

        <address>Apache Server at <a href="mailto:ngdc.linux-admin@noaa.gov">satdat-vip.ngdc.noaa.gov</a>
        Port 443</address>

        </body></html>

        '
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    status:
      code: 404
      message: Not Found
version: 1
