interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://data.ngdc.noaa.gov/platforms/solar-space-observing-satellites/goes/goes16/l1b/suvi-l1b-fe284/2019/05/25/
  response:
    body:
      string: "<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 3.2 Final//EN\">\n<html>\n
        <head>\n  <title>Index of /platforms/solar-space-observing-satellites/goes/goes16/l1b/suvi-l1b-fe284/2019/05/25</title>\n
        </head>\n <body>\n<!-- BEGIN HEADER  -->\r\n<div id=\"left_image\" style=\"width:440;
        postion:absolute; left:0px; top:0px;\">\r\n <a href=\"https://www.ngdc.noaa.gov/ngdc.html\"
        target=\"_top\" title=\"go to NOAA National Centers for Environmental Information
        (formerly the National Geophysical Data Center) home\"><img src=\"https://www.ngdc.noaa.gov/image/nesdisngdcleft.gif\"
        alt=\"Logo\" title=\"go to NOAA National Centers for Environmental Information
        (formerly the National Geophysical Data Center) home\" border=\"0\" width=\"440\"
        height=\"50\"></a>\r\n</div>\r\n<div id=\"right_image\" style=\"width:121;
        position:absolute; right:0px; top:0px\">\r\n <a href=\"https://www.ngdc.noaa.gov/ngdcinfo/privacy.html\"
        title=\"go to privacy policy, disclaimer, and copyright notices\"><img src=\"https://www.ngdc.noaa.gov/image/ngdcbanner_right.gif\"
        alt=\"U.S. Department of Commerce logo\" border=\"0\" width=\"121\" height=\"50\"></a>\r\n</div>\r\n<br
        />\r\n<!-- END HEADER  -->\r\n<div id=\"main_text\" style=\"clear:both; width:100%;
        margin-left:auto; margin-right:auto\">\r\n  <table>\n   <tr><th><a href=\"?C=N;O=D\">Name</a></th><th><a
        href=\"?C=M;O=A\">Last modified</a></th><th><a href=\"?C=S;O=A\">Size</a></th></tr>\n
        \  <tr><th colspan=\"3\"><hr></th></tr>\n<tr><td><a href=\"/platforms/solar-space-observing-satellites/goes/goes16/l1b/suvi-l1b-fe284/2019/05/\">Parent
        Directory</a></td><td>&nbsp;</td><td align=\"right\">  - </td></tr>\n<tr><td><a
        href=\"OR_SUVI-L1b-Fe284_G16_s20191450000043_e20191450000053_c20191450000257.fits.gz\">OR_SUVI-L1b-Fe284_G16_s20191450000043_e20191450000053_c20191450000257.fits.gz</a></td><td
        align=\"right\">2019-05-25 00:00  </td><td align=\"right\">1.4M</td></tr>\n<tr><td><a
        href=\"OR_SUVI-L1b-Fe2[...]
