interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://gong2.nso.edu/oQR/zqs/202001/mrzqs200130/
  response:
    body:
      string: "<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 3.2 Final//EN\">\n<html>\n
        <head>\n  <title>Index of /oQR/zqs/202001/mrzqs200130</title>\n </head>\n
        <body>\n<h1>Index of /oQR/zqs/202001/mrzqs200130</h1>\n  <table>\n   <tr><th
        valign=\"top\"><img src=\"/icons/blank.gif\" alt=\"[ICO]\"></th><th><a href=\"?C=N;O=D\">Name</a></th><th><a
        href=\"?C=M;O=A\">Last modified</a></th><th><a href=\"?C=S;O=A\">Size</a></th><th><a
        href=\"?C=D;O=A\">Description</a></th></tr>\n   <tr><th colspan=\"5\"><hr></th></tr>\n<tr><td
        valign=\"top\"><img src=\"/icons/back.gif\" alt=\"[PARENTDIR]\"></td><td><a
        href=\"/oQR/zqs/202001/\">Parent Directory</a></td><td>&nbsp;</td><td align=\"right\">
        \ - </td><td>&nbsp;</td></tr>\n<tr><td valign=\"top\"><img src=\"/icons/compressed.gif\"
        alt=\"[   ]\"></td><td><a href=\"mrzqs200130t0004c2227_349.fits.gz\">mrzqs200130t0004c2227_349.fits.gz</a></td><td
        align=\"right\">2020-01-29 18:05  </td><td align=\"right\">236K</td><td>&nbsp;</td></tr>\n<tr><td
        valign=\"top\"><img src=\"/icons/compressed.gif\" alt=\"[   ]\"></td[...]
[...]
