interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.lmsal.com/hek/her?cosec=2&cmd=search&type=column&event_type=fi&x1=-5000&y1=-5000&x2=5000&y2=5000&event_coordsys=helioprojective&event_starttime=2010-08-01T03%3A40%3A00&event_endtime=2010-08-01T03%3A40%3A10&page=1
  response:
    body:
      string: "\n       {\n\"result\":[\n{\n\"gs_thumburl\":\"http://www.lmsal.com/hpkb/podimages/pod_cheung_mark_20100802T10%3A17%3A49.937/thumb/panorama_cheung_AIA-304_AIA-211_AIA-171_AIA-6173_20100801T000031_at_20100802T171708.jpg\",\"comment_count\":\"0\",\"hpc_bbox\":\"POLYGON((-387
        -673,222 -673,222 -240,-387 -240,-387 -673))\",\"fi_barbstot\":null,\"frm_humanflag\":\"true\",\"hgc_coord\":\"POINT(108.4890811
        -22.9941)\",\"event_coordsys\":\"UTC-HPC-TOPO\",\"obs_levelnum\":null,\"hpc_coord\":\"POINT(-83
        -456)\",\"event_npixels\":null,\"gs_imageurl\":\"http://www.lmsal.com/hpkb/podimages/pod_cheung_mark_20100802T10%3A17%3A49.937/panorama_cheung_AIA-304_AIA-211_AIA-171_AIA-6173_20100801T000031_at_20100802T171708.jpg\",\"ar_polarity\":null,\"frm_paramset\":\"n/a\",\"hrc_coord\":\"POINT(0.482804353131553
        169.684096839068)\",\"event_starttime\":\"2010-08-01T00:00:31\",\"ar_mtwilsoncls\":\"\",\"event_type\":\"FI\",\"intensmin\":null,\"obs_meanwavel\":3.04000000000000012e-06,\"frm_url\":\"n/a\",\"skel_chaincode\":\"\",\"bound_chaincode\":\"\",\"noposition\":\"false\",\"active\":\"true\",\"intensmax\":null,\"frm_versionnumber\":null,\"area_uncert\":null,\"obs_dataprepurl\":\"\",\"hpc_geom\":\"0103000000010000000500000000000000003078C000000000000885C00000000000C06B4000000000000885C00000000000C06B400000000000006EC000000000003078C00000000000006EC000000000003078C000000000000885C0\",\"hgc_bbox\":\"POLYGON((81.451915
        -40.488804,131.691331 -39.782279,127.647704 -9.052909,89.516009 -9.415835,81.451915
        -40.488804))\",\"intensmedian\":null,\"chaincodetype\":\"\",\"obs_channelid\":\"304\",\"event_clippedspatial\":\"\",\"ar_noaaclass\":\"\",\"SOL_standard\":\"SOL2010-08-01T00:00:31L108C112\",\"event_avg_rating\":0.4,\"eventtype\":\"7\",\"intensunit\":\"\",\"hpc_boundcc\":\"\",\"event_mapurl\":\"\",\"frm_contact\":\"Scott
        Green\",\"ar_penumbracls\":\"\",\"intensmean\":null,\"fi_barbsendc2\":\"\",\"bound_ccstartc1\":null,\"fi_barbsendc1\":\"\",\"frm_name\":\"cheung\",\"area_atdiskcenter\":null,\"frm_identifier\":\"Annotator-build_20100728-avc\",\"obs_observatory\":\"SDO\",\"event_description\":\"Seems
        to disappear/break up near the end of the movie.\",\"fi_barbsstartc2\":\"\",\"boundbox_c2ur\":-673,\"fi_barbsstartc1\":\"\",\"obs_firstprocessingdate\":\"\",\"boundbox_c2ll\":-240,\"frm_institute\":\"LMSAL\",\"hrc_bbox\":\"POLYGON((0.808684
        150.099499,0.738198 198.25598,0.340553 222.768825,0.474352 121.805329,0.808684
        150.099499))\",\"fi_lengthunit\":\"\",\"refs_orig\":\"\",\"hrc_skeletoncc\":\"\",\"ar_mcintoshcls\":\"\",\"event_maskurl\":\"\",\"bound_ccstartc2\":null,\"gs_movieurl\":\"http://sdowww.lmsal.com/sdomedia/h264/2010/08/01/AVC_MarkCheung_20100801T000031-20100802T003431_SDO_304_755.9_20100802_171748.mov\",\"event_score\":\"\",\"skel_startc2\":null,\"skel_startc1\":null,\"event_expires\":\"\",\"hrc_boundcc\":\"\",\"event_probability\":null,\"intensvar\":null,\"frm_daterun\":\"2010-08-02T17:17:48\",\"event_coordunit\":\"arcsec\",\"hpc_y\":-456,\"hpc_x\":-83,\"search_instrument\":\"AIA\",\"ar_numspots\":null,\"kb_archivdate\":\"2010-08-02T17:17:51\",\"kb_archivist\":\"cheung_mark\",\"intenstotal\":null,\"sum_overlap_scores\":\"0\",\"hgs_boundcc\":\"\",\"intensskew\":null,\"obs_includesnrt\":\"\",\"rasterscan\":\"\",\"obs_wavelunit\":\"cm\",\"kb_archivid\":\"ivo://helio-informatics.org/FI304_MarkCheung_20100802_171748\",\"search_frm_name\":\"Human
        Annotation\",\"boundbox_c1ur\":-387,\"ar_noaanum\":null,\"area_atdiskcenteruncert\":null,\"fi_barbsl\":null,\"boundbox_c1ll\":222,\"event_importance_num_ratings\":\"1\",\"ar_compactnesscls\":\"\",\"skel_curvature\":null,\"event_testflag\":\"false\",\"event_c2error\":216.5,\"fi_barbsr\":null,\"hrc_r\":0.482804353131553,\"skel_nsteps\":null,\"hgs_y\":-22.9941,\"obs_title\":\"\",\"hgs_x\":-5.4542489,\"hcr_checked\":\"true\",\"frm_specificid\":\"\",\"event_title\":\"Quiescent
        filament\",\"hgc_skeletoncc\":\"\",\"obs_instrument\":\"AIA\",\"event_c1error\":304.199999999999989,\"revision\":\"1\",\"hpc_radius\":\"463.492179006291337\",\"hpc_skeletoncc\":\"\",\"event_endtime\":\"2010-08-02T00:34:31\",\"event_importance\":0.400000000000000022,\"event_coord2\":-456,\"event_coord3\":null,\"event_coord1\":-83,\"search_observatory\":\"SDO\",\"area_raw\":null,\"hgs_skeletoncc\":\"\",\"concept\":\"Filament\",\"event_pixelunit\":\"\",\"hgc_boundcc\":\"\",\"hgc_x\":108.4890811,\"hrc_a\":169.684096839068,\"event_peaktime\":\"\",\"hgc_y\":-22.9941,\"gs_galleryid\":\"pod_cheung_mark_20100802T10:17:49.937\",\"hgs_coord\":\"POINT(-5.4542489
        -22.9941)\",\"fi_chirality\":null,\"ar_zurichcls\":\"\",\"fi_tilt\":null,\"bound_ccnsteps\":null,\"intenskurt\":null,\"event_clippedtemporal\":\"\",\"rasterscantype\":\"\",\"search_channelid\":\"304\",\"hgs_bbox\":\"POLYGON((-32.491415
        -40.488804,17.748001 -39.782279,13.704374 -9.052909,-24.427321 -9.415835,-32.491415
        -40.488804))\",\"area_unit\":\"\",\"obs_lastprocessingdate\":\"\",\"fi_length\":null,\"refs\":[\n{\n\"ref_name\":
        \"Movie\",\n\"ref_type\": \"movie\",\n\"ref_url\": \"http://sdowww.lmsal.com/sdomedia/h264/2010/08/01/AVC_MarkCheung_20100801T000031-20100802T003431_SDO_304_755.9_20100802_171748.mov\"\n},{\n\"ref_name\":
        \"Event_MapURL\",\n\"ref_type\": \"unknown\",\n\"ref_url\": \"\"\n},{\n\"ref_name\":
        \"FRM_URL\",\n\"ref_type\": \"unknown\",\n\"ref_url\": \"n/a\"\n}]\n}],\n\"association\":
        [\n],\n\"overmax\": false\n}  \n"
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://www.lmsal.com/hek/her?cosec=2&cmd=search&type=column&event_type=fl&x1=-5000&y1=-5000&x2=5000&y2=5000&event_coordsys=helioprojective&param0=FL_PeakFlux&value0=1000&event_starttime=2010-08-01T03%3A40%3A00&event_endtime=2010-08-01T03%3A40%3A10&op0=%3E&page=1
  response:
    body:
      string: "\n       {\n\"result\":[\n{\n\"gs_thumburl\":\"http://sdowww.lmsal.com/sdomedia/ssw/ssw_client/data/ssw_service_100731_205448_25495028/[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://jsoc.stanford.edu/cgi-bin/ajax/jsoc_info?op=series_struct&ds=hmi.m_45s
  response:
    body:
      string: "{\n\t\"note\": \"magnetograms with a cadence of 45 seconds.\",\n\t\"retention\":
        10000,\n\t\"stagingretention\": 3,\n\t\"unitsize\": 32,\n\t\"archive\": 1,\n\t\"tapegroup\":
        6,\n\t\"primekeys\": [\"T_REC\",\n\t\"CAMERA\"],\n\t\"primekeysinfo\": [{\n\t\t\"name\":
        \"T_REC\",\n\t\t\"slotted\": 1,\n\t\t\"step\": \"45.0\"\n\t},\n\t{\n\t\t\"name\":
        \"CAMERA\",\n\t\t\"slotted\": 0\n\t}],\n\t\"dbindex\": [\"T_REC\",\n\t\"CAMERA\"],\n\t\"keywords\":
        [{\n\t\t\"name\": \"cparms_sg000\",\n\t\t\"type\": \"string\",\n\t\t\"recscope\":
        \"variable\",\n\t\t\"defval\": \"compress Rice\",\n\t\t\"units\": \"none\",\n\t\t\"note\":
        \"\"\n\t},\n\t{\n\t\t\"name\": \"magnetogram_bzero\",\n\t\t\"type\": \"double\",\n\t\t\"recscope\":
        \"variable\",\n\t\t\"defval\": \"0\",\n\t\t\"units\": \"none\",\n\t\t\"note\":
        \"\"\n\t},\n\t{\n\t\t\"name\": \"magnetogram_bscale\",\n\t\t\"type\": \"double\",\n\t\t\"recscope\":
        \"variable\",\n\t\t\"defval\": \"0.1\",\n\t\t\"units\": \"none\",\n\t\t\"note\":
        \"\"\n\t},\n\t{\n\t\t\"name\": \"DATE\",\n\t\t\"type\": \"time\",\n\t\t\"[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://jsoc.stanford.edu/cgi-bin/ajax/jsoc_info?op=rs_list&ds=hmi.m_45s%5B2010.08.01_03%3A40%3A34_TAI-2010.08.01_03%3A40%3A44_TAI%5D&key=%2A%2AALL%2A%2A
  response:
    body:
      string: '{"keywords":[{"name":"DATE","values":["2012-09-05T07:57:40Z"]},{"name":"DATE__OBS","values":["2010-08-01T03:39:41.00Z"]},{"name":"DATE-OBS","values":["2010-08-01T03:39:41.00Z"]},{"name":"TELESCOP","values":["SDO\/HMI"]},{"name":"INSTRUME","values":["HMI_FRONT2"]},{"name":"WAVELNTH","values":["6173.0"]},{"name":"CAMERA","values":["2"]},{"name":"BUNIT","values":["Gauss"]},{"name":"ORIGIN","values":["SDO\/JSOC-SDP"]},{"name":"CONTENT","values":["MAGNETOGRAM"]},{"name":"QUALITY","values":["0x00000000"]},{"name":"QUALLEV1","values":["0x[...]
