interactions:
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://schemas.xmlsoap.org/soap/envelope/"><soap-env:Body><ns0:getTableNames
      xmlns:ns0="http://helio-vo.eu/xml/QueryService/v0.1"/></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      SOAPAction:
      - '""'
    method: POST
    uri: http://helio.mssl.ucl.ac.uk/helio-hec/HelioTavernaService
  response:
    body:
      string: "<?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:S=\"http://schemas.xmlsoap.org/soap/envelope/\"><S:Body><helio:queryResponse
        xmlns:helio=\"http://helio-vo.eu/xml/QueryService/v0.1\"><VOTABLE xmlns=\"http://www.ivoa.net/xml/VOTable/v1.1\"
        version=\"1.1\">\n<RESOURCE>\n<DESCRIPTION />\n<INFO name=\"QUERY_STATUS\"
        value=\"OK\" />\n<INFO name=\"EXECUTED_AT\" value=\"2022-04-23 19:26:23\"
        />\n<TABLE name=\"Table Names\">\n<FIELD arraysize=\"*\" datatype=\"char\"
        name=\"table_names\">\n  <DESCRIPTION>Names of tables for this service. Input
        as 'FROM' in functions</DESCRIPTION>\n</FIELD>\n<DATA>\n<TABLEDATA>\n  <TR>\n
        \   <TD>timed_see_flare</TD>\n  </TR>\n  <TR>\n    <TD>hi_event</TD>\n  </TR>\n
        \ <TR>\n    <TD>yohkoh_flare_list</TD>\n  </TR>\n  <TR>\n    <TD>wind_mfi_bs_crossing_time</TD>\n
        \ </TR>\n  <TR>\n    <TD>seeds_soho</TD>\n  </TR>\n  <TR>\n    <TD>seeds_stb</TD>\n
        \ </TR>\n  <TR>\n    <TD>seeds_sta</TD>\n  </TR>\n  <TR>\n    <TD>hi_cme_list</TD>\n
        \ </TR>\n  <TR>\n    <TD>sdemon_dimming</TD>\n  </TR>\n  <TR>\n    <TD>imp8_solar_wind_times</TD>\n
        \ </TR>\n  <TR>\n    [...]
