interactions:
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://schemas.xmlsoap.org/soap/envelope/"><soap-env:Body><ns0:TimeQuery
      xmlns:ns0="http://helio-vo.eu/xml/QueryService/v0.1"><STARTTIME>2005-01-03T00:00:00.000</STARTTIME><ENDTIME>2005-12-03T00:00:00.000</ENDTIME><FROM>rhessi_hxr_flare</FROM><MAXRECORDS>10</MAXRECORDS></ns0:TimeQuery></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      SOAPAction:
      - '""'
    method: POST
    uri: http://helio.mssl.ucl.ac.uk/helio-hec/HelioTavernaService
  response:
    body:
      string: "<?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:S=\"http://schemas.xmlsoap.org/soap/envelope/\"><S:Body><helio:queryResponse
        xmlns:helio=\"http://helio-vo.eu/xml/QueryService/v0.1\"><VOTABLE xmlns=\"http://www.ivoa.net/xml/VOTable/v1.1\"
        version=\"1.1\">\n<RESOURCE>\n<DESCRIPTION />\n<INFO name=\"QUERY_STATUS\"
        value=\"OK\" />\n<INFO name=\"EXECUTED_AT\" value=\"2022-04-23 19:26:23\"
        />\n<INFO name=\"MAX_RECORD_ALLOWED\" value=\"20000\" />\n<INFO name=\"QUERY_STRING\">SELECT
        rhessi_hxr_flare.HEC_id,rhessi_hxr_flare.time_start,rhessi_hxr_flare.time_peak,rhessi_hxr_flare.time_end,rhessi_hxr_flare.nar,rhessi_hxr_flare.x_cart,rhessi_hxr_flare.y_cart,rhessi_hxr_flare.radial_arcsec,rhessi_hxr_flare.duration,rhessi_hxr_flare.count_sec_peak,rhessi_hxr_flare.total_count,rhessi_hxr_flare.energy_kev,rhessi_hxr_flare.flare_number
        FROM rhessi_hxr_flare WHERE  '2005-12-03T00:00:00.000'>=time_start AND '2005-01-03T00:00:00.000'&lt;=time_end
        \   LIMIT 10</INFO>\n<INFO name=\"QUERY_URL\">http://helio.mssl.ucl.ac.uk:80/helio-hec/HelioQueryService?STARTTIME=2005-01-03T00:00:00.000&amp;ENDTIME=2005-12-03T00:00:00.000&amp;FROM=rhessi_hxr_flare</INFO>\n<INFO
        name=\"TABLE_NAME\" value=\"rhessi_hxr_flare\" /><TABLE name=\"hec-rhessi_hxr_flare\">\n<FIELD
        datatype=\"int\" name=\"hec_id\" ucd=\"meta.record\">\n<DESCRIPTION>Event
        identification number (HEC internal number)</DESCRIPTION>\n<VALUES null=\"-2147483648\"
        />\n</FIELD>\n<FIELD arraysize=\"*\" datatype=\"char\" name=\"time_start\"
        ucd=\"time.start\" utype=\"helio:time_period.time_start\" xtype=\"iso8601\">\n<DESCRIPTION>Start
        time determined from when the flux rate in the 6-12 keV band exceeds 3*sigma
        above the background level calcualted on a 60s running average.</DESCRIPTION>\n</FIELD>\n<FIELD
        arraysize=\"*\" datatype=\"char\" name=\"time_peak\" ucd=\"time.phase\" utype=\"helio:time.time_peak\"
        xtype=\"iso8601\">\n<DESCRIPTION>[...]
