interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://cdaweb.gsfc.nasa.gov/WS/cdasr/1/dataviews/sp_phys/datasets/WI_H1_SWE/orig_data/20181101T000000Z,20181101T010000Z
  response:
    body:
      string: '{"FileDescription":[{"Name":"https://cdaweb.gsfc.nasa.gov/sp_phys/data/wind/swe/swe_h1/2018/wi_h1_swe_20181101_v01.cdf","MimeType":"application/x-cdf","StartTime":"2018-11-01T00:00:50.000Z","EndTime":"2018-11-01T23:57:48.000Z","Length":642922,"LastModified":"2019-07-23T04:19:27.377Z"}]}'
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Tue, 23 Jul 2019 04:19:27 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://cdaweb.gsfc.nasa.gov/WS/cdasr/1/dataviews/sp_phys/datasets/WI_H5_SWE/orig_data/20181101T000000Z,20181101T010000Z
  response:
    body:
      string: '{"FileDescription":[{"Name":"https://cdaweb.gsfc.nasa.gov/sp_phys/data/wind/swe/swe_h5/2018/wi_h5_swe_20181031_v01.cdf","MimeType":"application/x-cdf","StartTime":"2018-10-31T00:00:27.000Z","EndTime":"2018-11-01T00:00:03.000Z","Length":703814,"LastModified":"2019-07-31T04:16:59.560Z"},{"Name":"https://cdaweb.gsfc.nasa.gov/sp_phys/data/wind/swe/swe_h5/2018/wi_h5_swe_20181101_v01.cdf","MimeType":"application/x-cdf","StartTime":"2018-11-01T00:00:15.000Z","EndTime":"2018-11-01T23:59:39.000Z","Length":650354,"LastModified":"2019-07-31T04:16:59.714Z"}]}'
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Wed, 31 Jul 2019 04:16:59 GMT
    status:
      code: 200
      message: OK
version: 1
