name: CI

on:
  push:
    branches:
      - 'main'
      - '*.*'
      - '!*backport*'
    tags:
      - 'v*'
      - '!*dev*'
      - '!*pre*'
      - '!*post*'
  pull_request:
  # Allow manual runs through the web UI
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  core:
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@main
    with:
      submodules: false
      coverage: codecov
      toxdeps: tox-pypi-filter
      posargs: -n auto
      libraries: |
        apt:
          - libopenjp2-7
      envs: |
        - linux: py310

  test:
    needs: [core]
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@main
    with:
      submodules: false
      coverage: codecov
      toxdeps: tox-pypi-filter
      posargs: -n auto
      libraries: |
        apt:
          - libopenjp2-7
          # This can be removed when there are binaries for h5py on 3.11
          - libhdf5-dev
        brew:
          - openjpeg
      envs: |
        - linux: py311
        - windows: py39
        - macos: py38
        - linux: py38-oldestdeps

  docs:
    needs: [core]
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@main
    with:
      default_python: '3.8'
      submodules: false
      pytest: false
      toxdeps: tox-pypi-filter
      cache-path: |
        docs/_build/
        docs/generated/
        .tox/sample_data/
      cache-key: docs-${{ github.run_id }}
      libraries: |
        apt:
          - libopenjp2-7
          - graphviz
      envs: |
        - linux: build_docs

  online:
    if: "!startsWith(github.event.ref, 'refs/tags/v')"
    needs: [docs]
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@main
    with:
      default_python: '3.8'
      submodules: false
      coverage: codecov
      toxdeps: tox-pypi-filter
      posargs: -n auto --dist loadgroup
      libraries: |
        apt:
          - libopenjp2-7
      envs: |
        - linux: build_docs-gallery
          posargs: ''
          pytest: false
          cache-path: |
            docs/_build/
            docs/generated/
            .tox/sample_data/
          cache-key: docs-${{ github.run_id }}
          libraries:
            apt:
              - libopenjp2-7
              - graphviz
        - linux: py39-online

  cron:
    if: |
      github.event_name == 'workflow_dispatch' || (
        github.event_name == 'pull_request' &&
        contains(github.event.pull_request.labels.*.name, 'Run cron CI')
      )
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@main
    with:
      default_python: '3.8'
      submodules: false
      coverage: codecov
      toxdeps: tox-pypi-filter
      posargs: -n auto
      libraries: |
        apt:
          - libopenjp2-7
          # This can be removed when there are binaries for h5py on 3.11
          - libhdf5-dev
      envs: |
        - linux: base_deps
        - linux: py311-devdeps
        - linux: py39-conda
          libraries: ''

  publish:
    # Build wheels when pushing to any branch except main
    # publish.yml will only publish if tagged ^v.*
    if: |
      (
        github.event_name != 'pull_request' && (
          github.ref_name != 'main' ||
          github.event_name == 'workflow_dispatch'
        )
      ) || (
        github.event_name == 'pull_request' &&
        contains(github.event.pull_request.labels.*.name, 'Run publish')
      )
    needs: [test]
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/publish.yml@main
    with:
      test_extras: 'dev'
      test_command: 'pytest -p no:warnings --doctest-rst -m "not mpl_image_compare" --pyargs sunpy'
      submodules: false
      targets: |
        - cp3{8,9,10}-manylinux*_x86_64
        - cp3{8,9,10}-macosx_x86_64
        - cp3{8,9,10}-macosx_arm64
        # Split these out for more rapid debugging
        - cp311-manylinux*_x86_64
        - cp311-macosx_x86_64
        - cp311-macosx_arm64
    secrets:
      pypi_token: ${{ secrets.pypi_token }}

  notify:
    if: always() && github.event_name == 'workflow_dispatch'
    needs: [publish, online, cron]
    runs-on: ubuntu-latest
    steps:
      - uses: Cadair/matrix-notify-action@main
        with:
          matrix_token: ${{ secrets.matrix_access_token }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          homeserver: ${{ secrets.matrix_homeserver }}
          roomid: '!JYqfIVJjWANcHnfktY:cadair.com'
          ignore_pattern: '.*Load.*'
